{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'styleFolder/navbar.css' %}">


<div class="navBar-top text-center">
	<h2 class="mt-2"> Crypto Viking </h2>
</div>

<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-center" style="background:rgba(254, 211, 25, 1);">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	  <div class="collapse navbar-collapse desktopviewNavbar" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a href="/Kryptovaluta" class="navbarTagInYellow gray nav-link">
						Kryptovaluta
					</a>
	      </li>
	      <li class="nav-item">
	       <a href="/Exchange-Vs-HardwareWallet" class="navbarTagInYellow nav-link">
						Exchange Vs HardwareWallet	
					</a>
	      </li>
	      <li class="nav-item">
	        <a href="/Stablecoins" class="navbarTagInYellow nav-link">
						Stablecoins
					</a>
	      </li>
	      <!-- <li class="nav-item">
	      	<a href="" class="navbarTagInYellow nav-link">
						Guides
					</a>
	      </li>
	      <li class="nav-item">
					<a href="" class="navbarTagInYellow nav-link">
						Btc Analaysis
					</a>
	      </li> -->
	    </ul>
	</div>
</nav>