.token-wooden-wall{
	width:70%;
	margin:30px auto 30px auto;
	border-radius:15px;
	/*background: url("/static/images/walls/test-wall.png");*/
	/*box-shadow: 5px 8px rgb(120,120,120, 0.6);*/
	background:rgb(10, 15, 20, 0.6);
	height:100px;
	display:flex;
	align-items:center;
}