{% load static from staticfiles %}
<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<!-- So we can transfer data to the Html head from other files. -->
	{% block extra_htmt_head %}{% endblock %}
	<meta charset="utf-8">
	<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
	<META NAME="COPYRIGHT" CONTENT="&copy; 2021 CryptoViking.se">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{# Two if this link arae for Favicon for iphone and Desktop #}
<!-- 	<link rel="shortcut icon" type="image/jpg" href="{% static 'favicon.jpg'%}">
	<link rel="apple-touch-icon" href="{% static 'favicon.jpg'%}"> -->

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- End of Bootstrap -->


	<!-- Google Tag manager and Google Analytics is inside FOR TRADECFD -->
<!-- 	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NHXTTWD');</script> -->
	<!-- End of Google Tag manager and Google Analytics -->

	<!-- Language Tag -->
<!-- 	<link rel="alternate" href="https://www.tradecfd.se/" hreflang="sv" /> -->
	<!-- End of Language Tag -->
  	<link rel="stylesheet" href="{% static 'styleFolder/base.css' %}">


</head>
<body>
	<!-- Google Tag Manager FOR TRADECFD (noscript) -->
	<!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHXTTWD"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
	<!-- End Google Tag Manager (noscript) -->
	{% include 'navbar/Navbar.html' %}

			{% block content_container %}

			{% endblock %}
	
		{% include 'components/Footer.html' %}


</body>
<script src="{% static 'javaScript/components/dashboard-tokens.js' %}"></script>


<!-- <script src="{% static 'javaScript/navbarFunctions/navbarFunctions.js' %}"></script> -->

<!-- <script src="{% static 'javaScript/cookieContainer/cookieContainer.js' %}"></script> -->
</html>
