{% load static from staticfiles %}
<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<!-- So we can transfer data to the Html head from other files. -->
	{% block extra_htmt_head %}
	{% endblock %}
	<meta charset="utf-8">
	<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
	<META NAME="COPYRIGHT" CONTENT="&copy; 2021 CryptoViking.se">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	{# Two if this link arae for Favicon for iphone and Desktop #}

	<link rel="apple-touch-icon" href="{% static 'images/mascot/viking-logo.png' %}">
	<link rel="icon" type="image/png" href="{% static 'images/mascot/cryptoviking-se.png' %}"/>
	<meta name="format-detection" content="telephone=no">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	<!-- For Move the Spaceship around -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!-- End the Spaceship around -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- End of Bootstrap -->


	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-5HZV577');</script>
	<!-- End Google Tag Manager -->

	<!-- Language Tag -->
		<link rel="alternate" href="https://www.cryptoviking.se/" hreflang="sv" />
	<!-- End of Language Tag -->
  	<link rel="stylesheet" href="{% static 'styleFolder/base.css' %}">

  	<!-- Meta Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window, document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '312115236835956');
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=312115236835956&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Meta Pixel Code -->

  	<!-- Crypto style text link -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css?family=Almendra+SC" rel="stylesheet">

	<!-- Facebook Share button -->
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0" nonce="TmV5LwkR">
	</script>
	<!-- End Facebook Share button Code -->
	<!-- Twitter Share button -->
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	<!-- End Twitter Share button Code -->

	<!-- coinzilla Ad Tracker -->
	<meta name="coinzilla" content="e0b0fffe7e22d8a4a0ee7a2cb0940649" />
	<!-- End Of coinzilla Ad Tracker -->
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HZV577"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>

	{% include 'navbar/Navbar.html' %}

	<div class="p-4 d-flex flex-column align-items-center" style="color:whitesmoke; background:#21212E;">
		<small style="font-style:italic; opacity:0.9; font-size:0.75rem;" class="m-0"> Reklam </small>

		<a href="https://www.binance.com/en/register?ref=JTZNNQHD" target="_blank"
			class="affiliate-banner-binance" class=" mx-auto d-flex justify-content-center commercial-top align-items-center hover-function" style="">
			<img src="{% static	'images/Binance/Banners/banner-red-planet-520-70.png' %}" alt=""  class="img-fluid rounded " />
		</a>
	</div>
	<div class="block-wrapper">
		{% block content_container %}

		{% endblock %}
	</div>
	{% include 'components/cookieContainer/cookieContainer.html' %}
	{% include 'components/Footer.html' %}
</body>
<script src="{% static 'javaScript/components/dashboard-tokens.js' %}"></script>

<script src="{% static 'javaScript/components/cookieContainer/cookieContainer.js' %}"></script>
</html>
