
{% extends 'Base.html' %}
{% load static from staticfiles %}
{% block extra_htmt_head %}
<title> Kryptoguide: Kom igång med kryptohandel | Cryptoviking.se
 </title>
<meta name="description" content="Vad är kryptovaluta? Hur fungerar Crypto? Hur köper man krypto? Är
krypto framtiden? Vilket krypto ska man köpa? Få svar på dina frågor och allt inom krypto!
" >
<link rel="canonical" href="" />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Almendra+SC" rel="stylesheet">

<link rel="stylesheet" href="{% static 'styleFolder/index.css' %}">

<meta property="og:title" content="Kryptoguide: Kom igång med kryptohandel | Cryptoviking.se" />
<meta property="og:url" content="https://www.cryptoviking.se/" />
<meta property="og:description" content="Vad är kryptovaluta? Hur fungerar Crypto? Hur köper man krypto? Är
krypto framtiden? Vilket krypto ska man köpa? Få svar på dina frågor och allt inom krypto!">


{% load static from staticfiles %}
<meta property="og:image" itemprop="image" content="{% static 'images/mascot/feature-logo-image.jpeg' %}">




{% endblock %}
{% load static %}

{% block content_container %}
<div class="space-wall">

{% include 'components/IntroImageContainer.html' %}

</div>
<div class="space-earth-wall">
	<div class="token-container ">
		<div class="token-earth-container">
			<img src="{% static 'images/tokens/dot.png' %}" />
			<p>Polkadot</p>
			<div class="price-token">
				<p id="polkadot-price-container"></p>
			</div>
		</div>

		<div class="token-earth-container">
			<img src="{% static 'images/tokens/eth.png' %}" />
			<p>Ethereum</p>
			<div class="price-token">
				<p id="ethereum-price-container"> </p>
			</div>
		</div>

		<div class="token-earth-container">
			<img src="{% static 'images/tokens/btc-token.png' %}" />
			<p>Bitcoin</p>
			<div class="price-token">
				<p id="bitcoin-price-container"> </p>
			</div>
		</div>

		<div class="token-earth-container">
			<img src="{% static 'images/tokens/xrp.png' %}" />
			<p>Xrp</p>
			<div class="price-token">
				<p  id="ripple-price-container"> </p>
			</div>
		</div>

		<div class="token-earth-container">
			<img src="{% static 'images/tokens/cardano.png' %}" />
			<p>Cardano</p>
			<div class="price-token">
				<p id="cardano-price-container"> </p>
			</div>
		</div>
		<div class="button-container-exchange ">
				<a href="https://crypto.com/app/kd26d8skzr" target="_blank">
				Handla hos Crypto.com
			</a>

			<a href="https://www.binance.com/en/register?ref=JTZNNQHD" target="_blank">
				Handla hos Binance.com
			</a>

		
			
		</div>
	</div>

</div>


<div class="moonWall">
	<img  class="viking_astronout" src="{% static 'images/mascot/viking-astronout.png' %}" />
	<div class="space-contanier">

		<div class="container  pl-lg-5 space-gray-backround-mobile">
				<h2> Bitcoin </h2>
				<p class="pl-2 ">
					Digitala valutan <a href=""> Bitcoin </a> fungerar som en betalningsmetod utan en tredje parts inblandning,
					transaktionerna genomförs snabbt och utan inblandning av några myndigheter. Det speciella
					med Bitcoins är att det har ett tak på 21 miljoner. Idag är Bitcoin en värdebärare och kallas av
					många för det digitala guldet.
				</p>
			</div>

			<div class="container mt-5 pl-lg-5">
				<h2> Alternatives coins </h2>
				<p class="pl-2">
					Kryptovalutor som inte är Bitcoin kallas för alternativa kryptovalutor eller altcoins. Idag finns
					över 10,000 alternativa tokens och nya kommer ut hela tiden. Ett efterfrågat alternativ coin är
					<a href=""> Ethereum </a> pga dess smarta kontrakt. Vid investering i altcoins gäller det att kolla upp den noga
					så man inte råkar ut för scam.
				</p>
			</div>

			<div class="container mt-5 pl-lg-5">
				<h2> Stablecoins </h2>
				<p class="pl-2">
					En kryptovaluta med ett stabilt värde kallas för <a href="/Stablecoins"> Stablecoin</a>. För att värdet ska vara stadigt
					backas Stablecoinet upp av en värdebärare som till exempel någon ädelmetall (ofta guld) och
					fiatpengar (där dollarn är den populäraste garanten). Även Sverige planerar att lansera en
					stablecoin, den så kallade e-kronan.
				</p>
			</div>

	</div>

</div>

<div class="curved">
{% include 'components/tokens/4-Stablecoins.html' %}
<h3 class="orange-viking-title"> Krypto snabbguide </h3>
<p class="container m-auto">
	Det kan vara svårt att veta var man ska börja med när man vill börja investera i kryptovaluta. För
	att du lättare ska kunna komma igång har vi skapat den här kryptosnabbguiden.
</p>

<div class="mt-5 three-step-container">
		<div class="three-step-container-flex">
			
			<div class="flex-child">
				<ul>
					<h4 class="mt-3 orange-viking-title">
						Första och viktigaste steget är att välja en pålitlig Crypto Exchange.
					</h4>

					<li class="mt-3">
						Det finns många olika sorters aktörer inom krypto och tyvärr finns där även en del bedrägeribolag
						som man måste se upp med. Innan du bestämmer dig för en Crypto Exchange ta reda på så
						mycket du kan om bolaget. Vi själva på CryptoViking använder Binance.com och Crypto.com
						och som vi hittills är nöjda med.
					</li>

					<li class="mt-3">
						När du har valt din handelsplattform behöver du bevisa vem du är och det gör du igenom att
					skicka in en del dokument som bestyrker din identitet och var du är bosatt.
					</li>

				</ul>
				<p>
					Vi vill än en gång uppmana till noggrann research innan du väljer kryptomäklare. Om du blir
					kund hos Crypto.com eller Binance.com via vår webbplats får vi en bonus för det.
				</p>

			</div>

			<div class="flex-child d-flex flex-column justify-content-around m-sm-2">
				<div class="image-holder ">
					<img src="{% static 'images/crypto-exchanges/binace-vs-crypto.png' %}" class="img-fluid" style="border-radius:10px;"/>
				</div>
				<div class="image-footer">
					<a href="https://crypto.com/app/kd26d8skzr" class="btn btn-secondary m-4"> Crypto.com </a>
					<a href="https://www.binance.com/en/register?ref=JTZNNQHD" class="btn btn-secondary"> Binace.com </a>
				</div>
			</div>
		</div>
	</div>

	<div class="mt-5 three-step-container">
		<div class="three-step-container-reverse">
			<div class="flex-child d-flex flex-column justify-content-around">
				<div class="image-holder ">
					<img src="{% static 'images/crypto-exchanges/Ledger_website.png' %}" class="img-fluid" style="border-radius:10px; width:250px;"/>
				</div>
				<div class="image-footer">
					<div class="btn btn-secondary m-4"> Köp här Ledger </div>
				</div>
			</div>
			<div class="flex-child">
				<ul>
					<h4 class="mt-3 orange-viking-title">
						Vad händer efter att man har köpt sina krypto tokens?
					</h4>
					<li class="mt-3">
						Du kan välja mellan att ha kvar dina krypto på mäklarplattformen. Många mäklare erbjuder ett
					slags räntekonto så att du kan få ränta på din kryptovaluta.
					</li>
					<li class="mt-3">
						Tänk på att en Crypto Exchange inte är det säkraste sättet att förvara sina krypto tokens på!
					</li>

				</ul>
				<p>
					För att sova gott om natten och veta att dina krypto är säkra rekommenderar vi att du skaffar dig
					en hardware wallet. De två största leverantörerna är Trezor och Ledger. Vi på CryptoViking
					använder Ledger.
				</p>

			</div>
		</div>
	</div>

	<div class="mt-5 three-step-container">
		<div class="">
			<div class="">
				<h4 class="orange-viking-title"> Tips 💡</h4>
				<ul>
					<li class="mt-3">
						Tänk på att inte överhandla! Det kan leda till att du tar hastiga beslut som senare visar sig vara
						mindre bra. Handla aldrig för mer än du kan avvara! Kryptomarknaden kan vara mycket volatil
						med stora kursändringar.
					</li>

					<li class="mt-3">
						Se till att läsa och studera själva kryptovalutan som du är intresserad av! Ju mer fakta du har om
						kryptot och marknaden desto smartare beslut kommer du att ta när det går upp och ner på
						marknaden.
					</li>


					<li class="mt-3" style="List-style-type:none;">
						Ha en plan och håll dig till din plan! Vi önskar dig lycka till!
					</li>

				</ul>
				<p>
				</p>
				<img  class="viking-logo" src="{% static 'images/mascot/cryptoviking-se.png' %}"  style="width:100px; height:100px"/>
			</div>
		</div>
	</div>
	<svg viewBox="0 0 1440 319">
	<path fill="rgb(85, 85, 85, 0.8)" fill-opacity="1" d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
	</svg>
</div>
<script>


</script>
{% endblock %}

