
{% extends 'base.html' %}
{% load static from staticfiles %}
{% block extra_htmt_head %}
<title> CryptoViking </title>
<meta name="description" content="fefefe" >
<link rel="canonical" href="" />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Almendra+SC" rel="stylesheet">

<link rel="stylesheet" href="{% static 'styleFolder/index.css' %}">

{% endblock %}
{% load static %}

{% block content_container %}

{% include 'components/IntroImageContainer.html' %}

<div class="container-wrapper">
	<div class="container-flex">
		<div class="main-container">
			{% include 'components/tokens/Dashboard-Tokens.html' %}
			<div class="container mt-5 pl-lg-5">
				<h2> Bitcoin </h2>
				<p class="pl-2">
					En aktie är en andel av ett aktiebolag t ex Volvo, ABB och Kungsleden. Vid handel av aktier med CFD:er spekulerar handlaren om aktiens värdeutveckling, som kan både höjas och sänkas. Aktie CFD:er handlas med hävstång.
				</p>
			</div>

			<div class="container mt-5 pl-lg-5">
				<h2> Alternatives coins </h2>
				<p class="pl-2">
					En aktie är en andel av ett aktiebolag t ex Volvo, ABB och Kungsleden. Vid handel av aktier med CFD:er spekulerar handlaren om aktiens värdeutveckling, som kan både höjas och sänkas. Aktie CFD:er handlas med hävstång.
				</p>
			</div>

			<div class="container mt-5 pl-lg-5">
				<h2> Stablecoins </h2>
				<p class="pl-2">
					En aktie är en andel av ett aktiebolag t ex Volvo, ABB och Kungsleden. Vid handel av aktier med CFD:er spekulerar handlaren om aktiens värdeutveckling, som kan både höjas och sänkas. Aktie CFD:er handlas med hävstång.
				</p>
			</div>

			



		</div>

		<div class="side-container">

			{% include 'components/news-articles/News-articles.html' %}

			{% include 'components/crypto-exchange/banners/Exchange-Banner-350-330.html' %}
			
		</div>

	</div>


</div>
			<div class="curved mt-5">
				{% include 'components/tokens/4-Stablecoins.html' %}
				<h3> Tre steg guide </h3>
				<p class="container m-auto">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus risus eu auctor faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque finibus nisl in augue semper, commodo convallis urna cursus. Nunc eget eros ut orci posuere malesuada et ut erat.
				</p>

					<div class="mt-5 three-step-container">
	  					<div class="three-step-container-flex">
	  						
	  						<div class="flex-child">
		  						<ul>
		  							<li class="mt-3">
		  								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus risus eu auctor faucibus. Pellentesque habitant morbi tristique senectus et 
		  							</li>

		  							<li class="mt-3">
		  								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus risus eu auctor faucibus. Pellentesque habitant morbi tristique senectus et 
		  							</li>


		  							<li class="mt-3">
		  								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus risus eu auctor faucibus. Pellentesque habitant morbi tristique senectus et 
		  							</li>

		  						</ul>
		  						<p>
		  							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus risus eu auctor faucibus. Pellentesque habitant morbi tristique senectus et 
		  						</p>

			  				</div>

			  				<div class="border border-success flex-child">
			  					Images
			  				</div>

	  					</div>

  					</div>


					<div class="mt-5 three-step-container">
	  					<div class="three-step-container-reverse">
	  						<div class="border border-success flex-child">
			  					Images
			  				</div>
	  						<div class="flex-child">
		  						<ul>
		  							<li class="mt-3">
		  								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus risus eu auctor faucibus. Pellentesque habitant morbi tristique senectus et 
		  							</li>

		  							<li class="mt-3">
		  								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus risus eu auctor faucibus. Pellentesque habitant morbi tristique senectus et 
		  							</li>


		  							<li class="mt-3">
		  								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus risus eu auctor faucibus. Pellentesque habitant morbi tristique senectus et 
		  							</li>

		  						</ul>
		  						<p>
		  							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus risus eu auctor faucibus. Pellentesque habitant morbi tristique senectus et 
		  						</p>

			  				</div>

			  				

	  					</div>

  					</div>

  					<div class="mt-5 three-step-container">
	  					<div class="">
	  						<div class="">
		  						<ul>
		  							<li class="mt-3">
		  								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus risus eu auctor faucibus. Pellentesque habitant morbi tristique senectus et 
		  							</li>

		  							<li class="mt-3">
		  								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus risus eu auctor faucibus. Pellentesque habitant morbi tristique senectus et 
		  							</li>


		  							<li class="mt-3">
		  								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus risus eu auctor faucibus. Pellentesque habitant morbi tristique senectus et 
		  							</li>

		  						</ul>
		  						<p>
		  							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus risus eu auctor faucibus. Pellentesque habitant morbi tristique senectus et 
		  						</p>

			  				</div>

	  					</div>

  					</div>

				<svg viewBox="0 0 1440 319">

    				<path fill="rgb(85, 85, 85, 0.8)" fill-opacity="1" d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
  				</svg>

  				
  			
			</div>
<script>


</script>
{% endblock %}

