{% extends 'Base.html' %}
{% load static from staticfiles %}
{% block extra_htmt_head %}

<title>Cryptovikings artikel avdelning</title>
<meta name="description" content="Kom och läs allt inom krypto." />

<meta property="og:url" content="https://www.cryptoviking.se/artiklar" />
<meta property="og:title" content="Cryptovikings artikel avdelning" />
<meta property="og:description" content="Kom och läs allt inom krypto.">

<meta property="og:image" itemprop="image" content="{% static 'images/mascot/feature-logo-image.jpeg' %}">
<link rel="canonical" href="https://www.cryptoviking.se/artiklar" />
<link rel="stylesheet" href="{% static 'styleFolder/components/static-pages/static-pages-base.css' %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@CryptovikingSe">
<meta name="twitter:title" content="Cryptovikings artikel avdelning">
<meta name="twitter:description" content="Kom och läs allt inom krypto.">

<meta name="twitter:image" content="https://www.cryptoviking.se/static/images/mascot/cryptoviking-se.png">


{% endblock %}
{% load static %}
{% block content_container %}

<div class="container-wrapper mt-3">
	<div class="container-flex">
		<div class="main-container">
			<div class="container mt-3 pl-lg-5">
				<!-- <div class="cover-image">
					<img src="{% static 'images/cover-images/Krypto-Exchange.png' %}" alt="Krypto Exchange" class="rounded img-fluid" />
				</div>
				<div class="container mt-4">
					<h1 style="color:#F69516;"> Cryptocurrency Exchange </h1>
					<p class="pl-2">
						
					</p>
				</div> -->
			
				<h2 
					class="orange-viking-title" 
					style="border-bottom:1px solid lightgray; font-style:italic;"> 
					Senaste nytt hos Cryptoviking <span> <img src="{% static 'images/icons/viking-helmet-small.png' %}" alt="" style="width:50px;" class=" ml-3 mb-2 img-fluid" /></span>
				</h2>
				
				{% for article in latest_news%}
				<a  
					href="{{article.get_category_display}}/{{article.slug}}" 
					style="text-decoration:none; border:1px solid gray;" 
					class="d-flex mt-5 rounded article-container"
				> 
					<div class="d-flex flex-wrap">
						<div class="d-flex flex-column justify-content-center mx-auto align-items-center">
							{% if article.cover_image.url %}
								<img 
									class="rounded article-image" src="{{article.cover_image.url}}" 
									style="width:100%; height:140px"
								/>
							{% endif %}
						</div>
						<div class="p-2 d-flex flex-column justify-content-between" 
							style="width:300px; color:#dcdcdc;"
						>
							<div class="h-100 d-flex flex-column justify-content-center article-title">
								<h4 
									class="" 
									style="font-size: 18px;">
									{{article.title}}
								</h4>
							</div>
							<hr class="m-0" />
							<div class="m-0" style="text-align:right;">
								<small class="m-0">{{article.created_at | date:"l d M Y H:i"}}</small>
							</div>
						</div>
					</div>
				</a>
				<br>
				{% endfor %}
				<a href="/" class=""> Se fler nyheter </a>
			</div>
			<div class="author-container container d-flex justify-content-center align-items-center">
				<div class="d-flex flex-column align-items-center ">
					<img src="{% static 'images/mascot/viking-contet-writer.png' %}" alt="CryptoViking writer" style="width:300px;">
				</div>
			</div>
			<div class="mt-2">
				<small class="pl-2" style="font-style:italic;"> Populära artiklar </small>
			</div>
			<div class="d-flex flex-wrap container justify-content-around">
				<a href="/non-fungible-token"
					class=" m-lg-2 m-4  d-flex flex-column align-items-center justify-content-between hover-function"
					style="width:250px; height:180px;border-radius:20px; color:white;">
					
					<div
						style="width:100%; height:100%; border-radius:20px 20px 0 0;"
						class="d-flex flex-column justify-content-center align-items-center"
					>
						<img  src="{% static 'images/NFT/NftBase.png' %}"
							class=" img-fluid" style="height:150px; width:100%; border-radius:15px 15px 0px 0px;" 
						>
					</div>
					<div class=" w-100 text-center p-1" style="border-radius:0px 0 20px 20px; background:#85BB65; font-style:italic;">
						Läs om NFT
					</div>
				</a>
				<a href="/metamask-guide"
					class=" m-lg-2 m-4  d-flex flex-column align-items-center justify-content-between hover-function"
					style="width:250px; height:180px;border-radius:20px; color:white;">
					
					<div
						style="width:100%; height:100%; border-radius:20px 20px 0 0;"
						class="d-flex flex-column justify-content-center align-items-center"
					>
						<img  src="{% static 'images/wallets/metamask-guide-cover-image.png' %}"
							class=" img-fluid" style="height:150px; width:100%; border-radius:15px 15px 0px 0px;" >
					</div>

					<div class=" w-100 text-center p-1" style="border-radius:0px 0 20px 20px; background:#85BB65; font-style:italic;">
						Läs om MetaMask
					</div>
				</a>
				<a href="/tjana-krypto" 
					class=" m-lg-2 m-4  d-flex flex-column align-items-center justify-content-between hover-function"
					style="width:250px; height:180px;border-radius:20px; color:white;"
				>
			
					<div
						style="width:100%; height:100%; border-radius:20px 20px 0 0;"
						class="d-flex flex-column justify-content-center align-items-center"
					>
						<img  src="{% static 'images/cover-images/crypto-staking.png' %}"
							class=" img-fluid" style="height:150px; width:100%; border-radius:15px 15px 0px 0px;" >
					</div>

					<div class=" w-100 text-center p-1" style="border-radius:0px 0 20px 20px; background:#85BB65; font-style:italic;">
						Läs om Krypto Staking
					</div>
				</a>
			</div>
			<div class="mt-5">
				<small class="pl-2" style="font-style:italic;"> Kryptovaluta </small>
			</div>
			<div class="d-flex flex-wrap container justify-content-around mb-5">
				<a href="/handla/bitcoin"
					class=" m-lg-2 m-4  d-flex flex-column align-items-center justify-content-between hover-function position-relative" 
					style="width:250px; height:180px;border-radius:20px; color:white;"
				>
					<div 
						class="position-absolute d-flex flex-column align-items-center" 
						style="position: absolute; top: 50%; left: 50%; 
						transform: translate(-50%, -50%);"
					>
						<img src="{% static 'images/tokens/btc-token.png' %}" alt="Bitcoin logo" />
						<span class="d-flex" style="font-size:0.95rem; font-style:italic; color:#dcdcdc;">
							<p id="bitcoin-price-container"> </p> 
						</span>
					</div>

					<div
						style="width:100%; height:100%; border-radius:20px 20px 0 0;"
						class="d-flex flex-column justify-content-center align-items-center"
					>
						<img  src="{% static 'images/tokens/wallet-icons/mini-wall-token.png' %}"
							class=" img-fluid" style="height:150px; width:100%; border-radius:15px 15px 0px 0px;" 
						>
					</div>
					<div class=" w-100 text-center p-1" style="border-radius:0px 0 20px 20px; background:#85BB65; font-style:italic;">
						Mer om Bitcoin
					</div>
				</a>
				<a href="/handla/ethereum"
					class=" m-lg-2 m-4  d-flex flex-column align-items-center justify-content-between hover-function position-relative" 
					style="width:250px; height:180px;border-radius:20px; color:white;"
				>
					<div 
						class="position-absolute d-flex flex-column align-items-center" 
						style="position: absolute; top: 50%; left: 50%; 
						transform: translate(-50%, -50%);"
					>
						<img src="{% static 'images/tokens/eth.png' %}" alt="Bitcoin logo" />
						<span class="d-flex" style="font-size:0.95rem; font-style:italic; color:#dcdcdc;">
							<p id="ethereum-price-container"> </p> 
						</span>
					</div>

					<div
						style="width:100%; height:100%; border-radius:20px 20px 0 0;"
						class="d-flex flex-column justify-content-center align-items-center"
					>
						<img  src="{% static 'images/tokens/wallet-icons/mini-wall-token.png' %}"
							class=" img-fluid" style="height:150px; width:100%; border-radius:15px 15px 0px 0px;" 
						>
					</div>
					<div class=" w-100 text-center p-1" style="border-radius:0px 0 20px 20px; background:#85BB65; font-style:italic;">
						Mer om Ethereum
					</div>
				</a>
				<a href="/handla/cardano"
					class=" m-lg-2 m-4  d-flex flex-column align-items-center justify-content-between hover-function position-relative" 
					style="width:250px; height:180px;border-radius:20px; color:white;"
				>
					<div 
						class="position-absolute d-flex flex-column align-items-center" 
						style="position: absolute; top: 50%; left: 50%; 
						transform: translate(-50%, -50%);"
					>
						<img src="{% static 'images/tokens/cardano.png' %}" alt="Bitcoin logo" />
						<span class="d-flex" style="font-size:0.95rem; font-style:italic; color:#dcdcdc;">
							<p id="cardano-price-container"> </p> 
						</span>
					</div>

					<div
						style="width:100%; height:100%; border-radius:20px 20px 0 0;"
						class="d-flex flex-column justify-content-center align-items-center"
					>
						<img  src="{% static 'images/tokens/wallet-icons/mini-wall-token.png' %}"
							class=" img-fluid" style="height:150px; width:100%; border-radius:15px 15px 0px 0px;" 
						>
					</div>
					<div class=" w-100 text-center p-1" style="border-radius:0px 0 20px 20px; background:#85BB65; font-style:italic;">
						Mer om Cardano
					</div>
				</a>
			</div>
			<a class="container d-flex justify-content-center mt-0">
				<img src="{% static 'images/mascot/cryptoviking-name-silver.png' %}" class="img-fluid " />
			</a>

			<div class="mt-5">
				<small class="pl-2" style="font-style:italic;"> Krypto Exchanges </small>
			</div>
			<div class="d-flex flex-wrap container justify-content-around mb-5">
				<a href="/crypto-exchange"
					class=" m-lg-2 m-4 mt-5 d-flex flex-column align-items-center justify-content-between hover-function"
					style="width:250px; height:180px;border-radius:20px; color:white;"
				>
					<div
						style="width:100%; height:100%; border-radius:20px 20px 0 0;"
						class="d-flex flex-column justify-content-center align-items-center"
					>
						<img  src="{% static 'images/cover-images/Krypto-Exchange.png' %}"
							class=" img-fluid" style="height:150px; width:100%; border-radius:15px 15px 0px 0px;" >
					</div>

					<div 
						class="p-1 text-center w-100 d-flex flex-column align-items-center" 
						style="
						min-height:50px;
						border-radius:0px 0 20px 20px; background:#85BB65;  font-style:italic; font-size:0.9rem;"
						>
						<span class="h-100 d-flex flex-column justify-content-center"> Mer om Krypto exchanges </span>
					</div>
				</a>
				{% for cryptoExchange in crypto_exchanges %}
					<a href="/{{cryptoExchange.get_category_display}}/{{cryptoExchange.slug}}" 
					class=" m-lg-2 m-4  d-flex flex-column align-items-center justify-content-between hover-function"
					style="width:250px; height:180px;border-radius:20px; color:white;"
					>
						<div
							style="width:100%; height:100%; border-radius:20px 20px 0 0;"
							class="d-flex flex-column justify-content-center align-items-center"
						>
							<img  src="{{cryptoExchange.cover_image.url}}"
								class=" img-fluid" style="height:150px; width:100%; border-radius:15px 15px 0px 0px;" >
						</div>

						<div 
							class="p-1 text-center w-100 d-flex flex-column align-items-center" 
							style="
							min-height:50px;
							border-radius:0px 0 20px 20px; background:#85BB65;  font-style:italic; font-size:0.9rem;"
							>
							<span class="h-100 d-flex flex-column justify-content-center"> {{cryptoExchange.title}} </span>
						</div>
					</a>
				{% endfor%}
			</div>
		</div>
		<div class="side-container">
			{% include 'components/crypto-exchange/banners/Exchange-Banner-350-330.html' %}
		</div>
	</div>
</div>


<div class="curved mt-3">
	<svg viewBox="0 0 1440 319">
		<path fill="rgb(85, 85, 85, 0.8)" fill-opacity="1" d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
	</svg>
</div>


<style type="text/css">
.article-container:hover{
	transform: scale(1.01);
}
.article-container{
	width:75%;
}
@media (max-width:760px){
	.article-container{
		width:95%;
	}
	.article-image{
		margin-bottom:5px;
	}
	.article-title{
		text-align:center;
	}
}


</style>
{% endblock %}

