{% extends 'Base.html' %}
{% load static from staticfiles %}
{% block extra_htmt_head %}

<title> Kryptovaluta: vad är det? | digital valuta | Cryptoviking.se </title>
<meta name="description" content="Handla säkert med kryptovaluta! I det kontantlösa samhället får
virtuella valutor än större betydelse. Tryggt digitalt betalningssystem med full anonymitet." />

<meta property="og:title" content="Kryptovaluta: vad är det? | digital valuta | Cryptoviking.se" />
<meta property="og:url" content="https://www.cryptoviking.se/Kryptovaluta" />
<meta property="og:description" content="Handla säkert med kryptovaluta! I det kontantlösa samhället får
virtuella valutor än större betydelse. Tryggt digitalt betalningssystem med full anonymitet.">

<meta property="og:image" itemprop="image" content="{% static 'images/cover-images/kryptovaluta.png' %}">

<link rel="canonical" href="/Kryptovaluta" />


<link rel="stylesheet" href="{% static 'styleFolder/components/static-pages/static-pages-base.css' %}">


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@CryptovikingSe">
<meta name="twitter:title" content="Kryptovaluta: vad är det? | digital valuta | Cryptoviking.se">
<meta name="twitter:description" content="Handla säkert med kryptovaluta! I det kontantlösa samhället får
virtuella valutor än större betydelse. Tryggt digitalt betalningssystem med full anonymitet.">
<meta name="twitter:image" content="https://www.cryptoviking.se/static/images/cover-images/kryptovaluta.png">





{% endblock %}
{% load static %}
{% block content_container %}

<div class="container-wrapper mt-3">
	<div class="container-flex">
		<div class="main-container">
			<div class="container mt-3 pl-lg-5">
				<div class="cover-image">
					<img src="{% static 'images/cover-images/kryptovaluta.png' %}" alt="kryptovaluta" class="rounded img-fluid" />
				</div>
				<div class="container mt-4">
					<h1 class="orange-viking-title"> Vad är kryptovaluta?</h1>
					<p class="pl-2">
						Kryptovaluta kallas även för digitala pengar, virtuell valuta och internetpengar. Det speciella
						med den här valutan är att den inte är fysisk, med andra ord kan du inte ha pengarna i handen
						eller stoppa ner dem i din fysiska plånbok. Men du kan du idka peer-to peer-handel (person
						till person) med kryptovaluta utan att en tredje part behöver involveras.
						<br><br>
						Tanken bakom kryptovalutan var från första början att skapa en valuta som skulle vara
						självständig och inte behövde processas av finansiella institut, riksbanker eller regeringar.
						Kryptovalutan är programmerad på mjukvara och ägarna till den virtuella valutan ansvarar
						själva för förvaringen av den. Det har tillkommit Crypto Exchanges på marknaden som
						erbjuder <a href="/kryptovalutaplanbok"> förvaringstjänster för kryptovaluta </a>åt personer som av olika anledningar inte vill eller
						kan lagra sina kryptomynt.
					</p>
				</div>
				<hr/>
				<div class="container mt-5">
					<h2 style="text-align:center;" class="orange-viking-title"> Hur och var används kryptovalutor idag?</h2>
					<p class="pl-2">
						Kryptovalutan har slagit igenom hos alla samhällsklasser världen över. Kryptovaluta används:
					</p>
					<div class="row justify-content-center">
						<div class="col-sm-4 m-3 p-2 rounded d-flex justify-content-between align-items-center"
							style="background:rgb(85, 85, 85, 0.5);"
						>
							<h6 style="text-align:center;" class="orange-viking-title"> För överföringar </h6>
							<img src="{% static 'images/icons/lending.png' %}" alt="lending"style="width:50px; height:50px"/>
						</div>
						<div class="col-sm-4 m-3 p-2 rounded d-flex justify-content-between align-items-center"
							style="background:rgb(85, 85, 85, 0.5);"
						>
							<h6 style="text-align:center;" class="orange-viking-title"> Som ett sparkonto </h6>
							<img src="{% static 'images/icons/savings.png' %}" alt="savings" style="width:50px; height:50px"/>
						</div>

						<div class="col-sm-4 m-3 p-2 rounded d-flex justify-content-between align-items-center"
							style="background:rgb(85, 85, 85, 0.5);"
						>
							<h6 style="text-align:center;" class="orange-viking-title"> Som ett betalmedel </h6>
							<img src="{% static 'images/icons/payment-method.png' %}" alt="payment" style="width:50px; height:50px"/>
						</div>
						<div class="col-sm-4 m-3 p-2 rounded d-flex justify-content-between align-items-center"
							style="background:rgb(85, 85, 85, 0.5);"
						>
							<h6 style="text-align:center;" class="orange-viking-title"> Som investering objekt </h6>
							<img src="{% static 'images/icons/investment.png' %}" alt="grow" style="width:50px; height:50px"/>
						</div>
					</div>

				</div>

				<div class="container mt-5">
					<h3 >Vilka är de vanligaste kryptovalutorna?</h3>
					<p class="pl-2">
						Det lanseras nya kryptovalutor med nya funktioner och nätverk nästan dagligen. En del av
						dem försvinner efter en kort tid utan att få fäste på marknaden medan en del blir bestående
						inslag på den finansiella digitala marknaden. Ingen vet exakt hur många kryptovalutor det
						finns för närvarande. 
						<br>
						Här nedan är bara exempel på några stycken.
					</p>
					<ul>
						<li class="mt-4">
							<a href="/handla/bitcoin"> Bitcoin (BTC) </a>– Den första decentraliserade kryptovalutan som skapades (4009) och är även
							den största idag. Bitcoin har blivit en värdebärare och betraktas som digitalt guld.
  						</li>
  						<li class="mt-4">
  							<a href="/handla/ethereum"> Ethereum (ETH) </a>– Den här kryptovalutan är den näst största efter Bitcoin. Ethereum används bland annat för att betala interaktionsavgifter vid smarta kontrakt och decentraliserade
							finansavtal.
  						</li>
  						<li class="mt-4">
  							<b> XRP – </b> Fördelen med XRP är att den är snabb och billig. Vid transaktioner är XRP en av de
							snabbaste och billigaste transaktionsmetoderna mellan två parter.
  						</li>
  						<li class="mt-4">
							<b> Cardano – </b> Charles Hutchinson var en av åtta grundarna till Ethereum, men han lämnade det
							för att istället skapa Cardano
  						</li>
  						<li class="mt-4">
							<b> Polkadot - </b> Polkadot Ecosystems External Networks programmerades så att nätverket kan
							kommunicera med andra kryptonätverk. Polkadots grundare har också förflutet på Ethereum.
  						</li>
					</ul>
				</div>

				<div class="d-flex justify-content-around  flex-wrap rounded mt-5">
					<a href="/handla/bitcoin" class="d-flex flex-column align-items-center m-2" style="min-width:150px;">
						<img src="{% static 'images/tokens/btc-token.png' %}" alt="token-small-image" style="width:60px; height:60px"/>
						<div class="price-token" style="text-align:center;">
							<b id="bitcoin-price-container"></b>
						</div>
					</a>
					<a href="/handla/ethereum" class="d-flex flex-column align-items-center m-2" style="min-width:150px;">
						<img src="{% static 'images/tokens/eth.png' %}" alt="token-small-image" style="width:60px; height:60px; margin:0 auto 0 auto;"/>
						<div class="price-token" style="text-align:center;">
							<b id="ethereum-price-container"></b>
						</div>
					</a>
					<a href="" class="d-flex flex-column align-items-center m-2" style="min-width:150px;">
						<img src="{% static 'images/tokens/xrp.png' %}" alt="token-small-image" style="width:60px; height:60px; margin:0 auto 0 auto;"/>
						<div class="price-token" style="text-align:center;">
							<b id="ripple-price-container"></b>
						</div>
					</a>
					<a href="/handla/cardano" class="d-flex flex-column align-items-center m-2" style="min-width:150px;">
						<img src="{% static 'images/tokens/cardano.png' %}" alt="token-small-image" style="width:60px; height:60px;"/>
						<div class="price-token" style="text-align:center;">
							<b id="cardano-price-container"></b>
						</div>
					</a>

					<!-- <div class="button-container-exchange d-flex flex-column w-100 align-items-center mt-3">
						<a href="https://www.binance.com/en/register?ref=JTZNNQHD" target="_blank" class="m-1 affiliate-binance">
							Handla via Binance.com
						</a>
					</div> -->
				</div>
				<!-- <label style="font-size:0.68rem; color:#F47174;" class="pl-3 m-0 ">
					Handla inte mer än vad du har råd att förlora.
				</label> -->
				<div class="container mt-5">
					<h3>Behövs kryptovaluta?</h3>
					<p>
						En fråga som många ställer sig är om kryptovalutan verkligen behövs eller om vi skulle kunna
						vara utan den. Sanningen är att kryptovaluta är och sannolikt kommer att bli än viktigare inom
						både handel och privatlivet i framtiden.
						Många länder är på god väg att bli kontantlösa och kryptovalutan får då en större roll inom
						den finansiella världen. 
					</p>
					<p>
						Handel idkas med länder på andra sidan jorden och i den snabba
						konkurrensen måste pengaöverföringarna fungera snabbt. En kryptovalutatransaktion görs på
						några sekunder jämfört med en transaktion med fiatpengar som tar några dagar i anspråk och
						på det tillkommer tredje parts höga kommissioner.
						Även människor i fattiga länder som inte har bankkonto, men som oftast har mobil, kan enkelt
						föra över och ta emot pengar utan att stora avgifter äter upp de sända beloppen.
					</p>
				</div>
				<div class="container mt-5">
					<h3> Är kryptovaluta lagligt?</h3>
					<p>
						I Sverige såväl som i många andra länder är innehav, köp och sälj av kryptovaluta lagligt. Det
						som är bra att komma ihåg är att om du gör vinster på kryptovalutahandel så måste vinsten
						beskattas i Sverige. Du kan även gör avdrag i din deklaration om du har gjort förluster.
						Men det finns länder som vill och försöker förbjuda sina medborgare från att använda
						kryptovaluta på grunda av politiska skäl och som ett sätt att minska folkets kontakter med
						utländska aktörer.
					</p>
					<p>
						Ett land kan dock inte stänga ner en kryptovaluta då den är internetbaserad och skapas i
						blockchains. Genom att skapa lagar som förbjuder ägande och investering i kryptovaluta och
						genom att spärra åtkomsten till crypto exchanges och webbplatser som handlar om
						kryptovaluta försöker en del länder att hålla sina medborgare ifrån de digitala valutan.
					</p>
				</div>
				{% include 'components/crypto-exchange/banners/commercialbanner-520-70.html' %}
				<div class="container mt-5">
					<h3>Vad kan jag göra med krypto?</h3>
					<p>
						I framtiden kommer nog de flesta att ha krypto antingen som investering, sparande eller för att
						handla med. Det är bara att jämföra med dagens sedlar som i sig inte har något värde (pappret
						som en hundra kronors-sedel är tryckt på är inte värd hundra kronor, men alla har accepterat
						att värdet som står på en sedel är värt det). När fler och fler accepterar kryptovalutan som en
						värdebärare kommer den att bli en självklar del av samhället.
					</p>
					<p>
						Om du känner att du redan nu vill hoppa på tåget och följa med kryptovalutan in i framtiden
						finns det ett brett utbud av olika kryptovalutor som du kan investera i. Och om du är nybörjare
						är en Crypto Exchange att föredra tills du blir mer säker på hur kryptohandel går till. Du
						kanske vill sätta undan en slant och köpa krypto och låta dem vara för framtida behov och i
						det fallet kan ett <a href="/tjana-krypto">staking konto </a> som ger ränta vara ett alternativ. Nu när shoppingen online har
						ökat och många bolag accepterar kryptovaluta kan det vara smart att betala med kryptovaluta
						och slippa dyra mellanhandsavgifter.
					</p>
				</div>
				<div class="container mt-5 d-flex flex-column align-items-center">
					<img src="{% static 'images/Binance/spaceship.png' %}" style="max-width:100px; border-radius:50px;" alt="" />
				</div>
				<div class="container mt-5 ">
					<h3>Hur köper man Kryptovaluta?</h3>
					<li class="mt-3"> Öppna ett handelskonto via en <a href="/crypto-exchange">handelsmäklare</a>.</li>
					<li class="mt-3"> Slutför registreringsprocessen. </li>
					<li class="mt-3"> Välj betalningsmetod. </li>
					<li class="mt-3"> Välj vilken kryptovaluta du vill köpa.</li>
					<li class="mt-3"> Ange summa och godkänn.</li>
					<li class="mt-3"> Sedan är valutan i din <a href="/kryptovalutaplanbok">Exchange wallet</a>.</li>
					<a href="https://www.binance.com/en/register?ref=JTZNNQHD" target="_blank" class="btn rounded row col-lg-6 col-sm-12  mt-4 ml-1 affiliate-binance" style="background:#85bb65; color:#DCDCDC">
						Köp Krypto Via Binance
					</a>
				</div>
				<label style="font-size:0.68rem; color:#F47174;" class="pl-3 m-0 ">
					Handla inte mer än vad du har råd att förlora.
				</label>
				<div class="container mt-5 mb-5">
					<h3>Sammanfattning</h3>
					<p>
						Kryptovalutan har inte existerat länge och är därför fortfarande känslig för fluktuationer vilket
						påverkar allmänhetens förtroende. Men i takt med att det kontantlösa samhället närmar sig
						ökar behovet av en betalningsmetod utan dyra transaktionskostnader som samtidigt klarar av
						snabba överföringar mellan sändare och mottagare.
						Konsumenter är inte heller längre hänvisade till att handla i närområdets butiker utan kan i
						stället logga in sig på en handels webbplats på andra sidan jorden och välja de varor man
						önskar få hemskickat. I dessa fall spelar en pålitlig och snabb överföring en stor roll om köpet
						ska bli av.
					</p>
					<p>
						En annan fördel med virtuella valutor är dess transparens. I kryptovalutans blockchain finns
						alla transaktioner sparade så att alla kan se dem, men de ser inte vilka som är avsändarna och
						mottagarna. Denna transparens möjliggör för alla att följa till exempel Bitcoins spår ända
						sedan det bröts fram till dags dato. Trots transparensen har kryptovalutor total anonymitet och
						myndigheter kan inte påverka valutan för att driva sina egna intressen.
					</p>

				</div>
			</div>
		</div>

		<div class="side-container">
			{% include 'components/crypto-exchange/banners/Exchange-Banner-350-330.html' %}
		</div>
	</div>

</div>

{% include 'components/articles/article_container.html' %}
<div class=" mt-5 text-center">
<small style="color:white; color:#85bb65; font-style:italic;"> Decentralized E-wallets </small>
</div>
<div class=" d-flex flex-wrap justify-content-around w-50 mx-auto">
	<a href="/metamask-guide" 
		class="d-flex flex-column align-items-center p-2 m-4 text-center"
		style="height:150px; width:180px; border-radius:20px;box-shadow:0 0 5px #fff; text-decoration:none;" />
		<img 
			src="{% static 'images/wallets/metamask.png' %}" alt="Metamask-logo" 
		 	style="height:100px;" 
		 	class="img-fluid"
		/>
		Metamask Guide
	</a>
	<a href="/crypto-wallet/phantom-guide" 
		class="d-flex flex-column align-items-center p-2 m-4 text-center"
		style="height:150px; width:180px; border-radius:20px;box-shadow:0 0 5px #fff; text-decoration:none;" />
		<img 
			src="{% static 'images/wallets/phantom-icon.png' %}" alt="Metamask-logo" 
		 	style="height:100px;" 
		 	class="img-fluid" />
		
		Phantom Guide
	</a>
</div>
<div class="container d-flex justify-content-around align-items-center mt-5 mb-3">
		<a href="https://www.binance.com/en/register?ref=JTZNNQHD" class="m-2 affiliate-binance" target="_blank">
			Handla krypto via Binance
		</a>

		<a href="https://crypto.com/app/kd26d8skzr" class="m-2 affiliate-crypto" target="_blank">
			Handla krypto via crypto.com
		</a>
	</div>

	<br>
	<div class="text-center mt-2 mb-5">
		<a 
			href="/#krypto-snabbguide-avdelning"
			style="font-weight:normal;" 
			class="" 
		>
			Hur köper man kryptovaluta❓
			<small class="d-block" style="font-size:0.7rem; color:gray;">
				Läs mer
			</small>
		</a>
	</div>
	<div class="container  text-center">
		<label style="font-size:0.68rem; font-style:italic; color:#F47174;" class=" m-0 ">
			Handla inte mer än vad du har råd att förlora.
		</label>
	</div>



<div class="curved mt-3">
	<svg viewBox="0 0 1440 319">
		<path fill="rgb(85, 85, 85, 0.8)" fill-opacity="1" d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
	</svg>
</div>

<script>

</script>
{% endblock %}

