body{
	/*background:#ECF0F1;*/
	/*	background:rgba(254, 211, 25, 1);*/
	min-height:100vh;
}
.block-wrapper{
	min-height:100vh;
}
.commercial-top img{
	border:1px solid	red;
	width:300px;
}
a{
	color:#29A3D2;
	font-weight:bold;
}
p{
	line-height: 1.8rem; 
}
.hover-function:hover{
	transform:scale(0.99);
}
.container-wrapper{
    max-width: 1210px;
    margin:0 auto 0 auto;
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 10%);
    margin-bottom:20px;
}

/*This is base template for main and side container.*/
.container-flex{
	display:flex;
	flex-wrap:wrap;
	height:100%;
}
.main-container{
	width:800px;
	flex-grow:1;
}

.side-container{
	min-width:350px;
	max-width:400px;
	flex-grow:1;
	display:flex;
	flex-direction:column;
	align-items:center;
}
h1{
	font-size: 2.2rem;
	font-family: "Almendra SC", serif;
	 color:#F69516;
	 font-weight:bold;
   letter-spacing:2px;
}
 
   
   

/*Scrollbar styling*/
body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 		background-color:#21212E;
}
 
body::-webkit-scrollbar-thumb {
  background-color:#3B3B42;
  border-radius:10px;
  opacity:0.1;
}




@media(max-width:1200px){
	.side-container{
		max-width:100%;
	}
}