{% extends 'Base.html' %}
{% load static from staticfiles %}
{% block extra_htmt_head %}
<title> MetaMask: Hur laddar man ner den? Ethereum-plånbok online </title>
<meta name="description" content="Letar du efter en bra plånbok till dina Ethereum-krypton? Ett
MetaMask-konto är säkert så länge du inte ger ut ditt lösenord eller Seed Phrase till någon." />
<link rel="canonical" href="/metamask-guide " />


<meta property="og:title" content="MetaMask: Hur laddar man ner den? Ethereum-plånbok online" />
<meta property="og:url" content="https://www.cryptoviking.se/metamask-guide" />
<meta property="og:description" content="Letar du efter en bra plånbok till dina Ethereum-krypton? Ett
MetaMask-konto är säkert så länge du inte ger ut ditt lösenord eller Seed Phrase till någon.">

<meta property="og:image" itemprop="image" content="{% static 'images/wallets/metamask-guide-cover-image.png' %}">

<link rel="canonical" href="/metamask-guide" />


<link rel="stylesheet" href="{% static 'styleFolder/components/static-pages/static-pages-base.css' %}">

{% endblock %}
{% load static %}
{% block content_container %}

<div class="container-wrapper mt-3">
	<div class="container-flex">
		<div class="main-container">
			<div class="container mt-3 pl-3 mb-5">
				<div class="cover-image">
					<img class="img-fluid rounded" src="{% static 'images/wallets/metamask-guide-cover-image.png' %}" alt="kryptovalutaplanbok" />
				</div>
				<div class="container mt-5">
					<h1> Kom igång med Metamask </h1>
					<p class="pl-2">
						Metamask är en decentraliserad plånbok som är enkel och smidigt att förvara krypto i. Endast du har tillgång till din plånboks nycklar och därför är det upp till dig att spara koderna på ett säkert ställe så att de inte kommer på villovägar. Gör gärna en kopia av koderna för att ha två gömställen i fall du skulle tappa bort ena lappen.
					</p>
					<p class="pl-2">
						Med ett MetaMask-konto kan du även tjäna mera krypto genom att koppla upp kontot till en <a href="/tjana-krypto"> staking pool</a>. Det är smart att låta krypton jobba för dig utan att du behöver anstränga dig. 
					</p>
				</div>
				<div class="container mt-4">
					<h2 class="orange-viking-title text-md-left text-center" style="font-size:1.5rem; letter-spacing:2px;"> Metamask SnabbGuide</h2>
					<div class="row p-2">
						<div class="col-sm-6">
							<ul>
								<li class="mt-3">
									<a class="container m-0" style="color:white; text-decoration:none; font-weight:normal; cursor:pointer;"> Laddar ner MetaMask
									</a> 
								</li>
								<li class="mt-3">
									<a href="/metamask-guide#open-Metamask-konto" class="container m-0" style="color:white; text-decoration:none; font-weight:normal;"> Skapa MetaMask konto
									</a> 
								</li>
								<li class="mt-3">
									<a href="/metamask-guide#seed-phrase" class="container m-0" style="color:white; text-decoration:none; font-weight:normal;"> Vad är Metamask seed phrase?
									</a> 
								</li>
							</ul>
						</div>
						<div class="col-sm-6" id="display-desktop">
							<ul>
								<li class="mt-3">
									<a href="/metamask-guide#recover-metamask" class="container m-0" style="color:white; text-decoration:none; font-weight:normal;"> Återställa MetaMask
									</a> 
								</li>
								<li class="mt-3">
									<a href="/metamask-guide#sammanfattning" class="container m-0" style="color:white; text-decoration:none; font-weight:normal;"> Sammanfattning
									</a> 
								</li>
								<li class="mt-3">
									<a href="/#krypto-snabbguide-avdelning" class="container m-0" style=" text-decoration:none; font-weight:normal;"> Hur köper man kryptovaluta❓
									</a> 
								</li>
							</ul>
						</div>
					</div>
					<button id="Metamask-snabb-guide-show-more-button" 
						class="btn rounded"
					 	onclick="toogleSnabbGuideContainer()"
						style="background:#85bb65; color:#DCDCDC">
						Mera
					</button>
				</div>
				<hr/>
				<div class="container mt-5 text-center">
					<h2 style="text-align:center;" class="orange-viking-title">Hur laddar man ner MetaMask?</h2>
					<p class="pl-2">
						Genom att följa instruktionerna i den här guiden kan du snabbt och enkelt ladda upp den digitala plånboken MetaMask som används för Ethereum-krypto.
					</p>
					
				</div>
				<div class="mt-5 d-flex flex-wrap justify-content-around">
					<img src="{% static 'images/webbrowser-icons/Chrome.png' %}" 
						class="img-fluid  p-1 m-1"
						style="width:50px; border-radius:50%; box-shadow:0 0 3px #fff;" 
						alt="" />
					<img src="{% static 'images/webbrowser-icons/Firefox.png' %}" 
						class="img-fluid  p-1 m-1r"
						style="width:50px; border-radius:50%; box-shadow:0 0 3px #fff;" 
						alt="" />
					<img src="{% static 'images/tokens/wallet-icons/metamask-mini-logo.png' %}" 
						class="img-fluid  p-1 m-1"
						style="width:65px; border-radius:50%; box-shadow:0 0 3px #fff;" 
						alt="" />
					<img src="{% static 'images/webbrowser-icons/Brave.png' %}" 
						class="img-fluid  p-1 m-1"
						style="width:50px; border-radius:50%; box-shadow:0 0 3px #fff;" 
						alt="" />
					<img src="{% static 'images/webbrowser-icons/Edge.png' %}" 
						class="img-fluid  p-1 m-1"
						style="width:50px; border-radius:50%; box-shadow:0 0 3px #fff;" 
						alt="" />
				</div>
				<p class="text-center mt-2" style="font-style:italic; font-size:0.9rem;"> Finns även för ios och android </p>
				<br>
				<p class="pl-2">
					För att skapa dig en MetaMask-plånbok måste du först ladda ner själva programvaran från Metamask.io.
				</p>
				<a href="https://metamask.io/download.html" target="_blank" class="btn rounded w-50 d-block mx-auto" style="background:#85bb65; color:#DCDCDC">
					Ladda ner MetaMask
				</a>
				<hr id="open-Metamask-konto"/>
				<div class="container mt-5">
					<h2 class="orange-viking-title"> Hur skapar man att MetMask konto?  </h2>
					<p class="pl-2">
						Nu har turen kommit till att skapa ett lösenord för ditt MetaMask-konto. Lösenordet ska vara på minst åtta karaktärer. Se till att skapa ett säkert lösenord med både stora och små bokstäver, nummer och specialtecken.
					</p>
				</div>
				<hr id="seed-phrase" />
				<div class="container mt-5">
					<h3> Vad är Metamask seed phrase? </h3>
					<p>
						Du kommer därefter att automatiskt få en seed phrase som är en återställningsfras och den ska du spara på ett säkert ställe. Ifall du skulle ha oturen att tappa eller glömma ditt kontos lösenord kan du återställa det med hjälp av seed phrase som är din personliga nyckel. Tänk på att förvara återställningsfrasen på ett säkert ställe och lämna aldrig ut det till någon!
						<br><br>
						Om du skulle bli av med både ditt lösenord och frasen har du längre ingen möjlighet att logga in på ditt MetaMask-konto, vilket betyder att du inte kan komma åt dina krypto.
					</p>
				</div>
				<hr id="recover-metamask" />
				<div class="container mt-5">
					<h3> Hur återställer man Metamask konto? </h3>
					<p>
						När du skapade ditt MetaMask-konto fick du en återställningsfras (Seed Phrase) och denna ska du använda om du har glömt ditt lösenord eller har installerat MetaMask i en ny enhet. När du har angett återställningsfrasen kan du skapa ett nytt lösenord till ditt MetaMask-konto. 
					</p>
				</div>
				<div class="container mt-5">
					<h3> Går det att förvara Bitcoin på ett MetaMask-konto? </h3>
					<p>
						Många undrar om Bitcoin går att förvara i MetaMask och tyvärr så är det inte möjligt då MetaMask är en Ethereum baserad plånbok. För att kunna förvara sina Bitcoin i ett Metamask konto så måste man ha en <a href="/handla/bitcoin#wrapped-bitcoin">Wrapped Bitcoin</a> som är baserad på en ERC-20 pollett. På det visset kan du sedan förvara dina Bitcoin i din MetaMask-konto.
					</p>
				</div>
				<div class="container mt-5">
					<hr id="sammanfattning" />
					<h3> Sammanfattning </h3>
					<p class="pl-2">
						Det finns olika sorters <a href="/kryptovalutaplanbok">virtuella plånböcker</a> och oavsett vilken du väljer ska du vara medveten om att en digital plånbok är lika stöldbegärlig som en fysisk plånbok. Se till att du skyddar ditt lösenord och seed phrase så att de inte hamnar i orätta händer och tänk på att aldrig ge ifrån dig dessa!
					</p>
				</div>
				<div id="carouselExampleIndicators" class="carousel slide m-5 mx-auto" 
					style="height:405px; width:100%;
					border-radius:20px; box-shadow:0 0 10px #fff;" data-ride="carousel" data-interval="false">
				  <ol class="carousel-indicators">
				    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
				  </ol>
				  <div class="carousel-inner" style="height:100%;">
				    <div class="carousel-item active" style="height:100%;">
				      <img class="d-block mx-auto img-fluid mt-3" style="border-radius:10px;" src="{% static 'images/wallets/Metamask-images/metamask-1.png' %}" alt="First slide">
				    </div>
					<div class="carousel-item" style="height:100%;">
				      <img class="d-block mx-auto img-fluid" src="{% static 'images/wallets/Metamask-images/metamask-3.png' %}" alt="Second slide" >
				    </div>
				    <div class="carousel-item" style="height:100%;">
				      <img class="d-block mx-auto img-fluid mt-5" src="{% static 'images/wallets/Metamask-images/metamask-4.png' %}" alt="Second slide" >
				    </div>
				    <div class="carousel-item" style="height:100%;">
				      <img class="d-block mx-auto img-fluid" src="{% static 'images/wallets/Metamask-images/metamask-5.png' %}" alt="Second slide" >
				    </div>
				    <div class="carousel-item" style="height:100%;">
				      <img class="d-block mx-auto img-fluid" src="{% static 'images/wallets/Metamask-images/metamask-6.png' %}" alt="Second slide" >
				    </div>
				    <div class="carousel-item" style="height:100%;">
				      <img class="d-block mx-auto img-fluid mt-2" src="{% static 'images/wallets/Metamask-images/metamask-7.png' %}" alt="Second slide" >
				    </div>
				    <div class="carousel-item" style="height:100%;">
				      <img class="d-block mx-auto img-fluid mt-5" src="{% static 'images/wallets/Metamask-images/metamask-8.png' %}" alt="Second slide" >
				    </div>
				    <div class="carousel-item" style="height:100%;">
				      <img class="d-block mx-auto img-fluid mt-5" src="{% static 'images/wallets/Metamask-images/metamask-dashboard.png' %}" alt="Second slide" >
				    </div>
				  </div>
				  <a class="carousel-control-prev"  href="#carouselExampleIndicators" role="button" data-slide="prev">
				    <span class="carousel-control-prev-icon"   aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
			</div>
			<br>
		</div>
		<div class="side-container">
			{% include 'components/crypto-exchange/banners/Exchange-Banner-350-330.html' %}
		</div>

	</div>
</div>
<br>
<div class="container d-flex justify-content-around align-items-center mt-5 mb-3">
		<a href="https://www.binance.com/en/register?ref=JTZNNQHD" class="m-2 affiliate-binance" target="_blank">
			Handla krypto via Binance
		</a>

		<a href="https://crypto.com/app/kd26d8skzr" class="m-2 affiliate-crypto" target="_blank">
			Handla krypto via crypto.com
		</a>
	</div>

	<br>
	<div class="text-center mt-2 mb-5">
		<a 
			href="/#krypto-snabbguide-avdelning"
			style="font-weight:normal;" 
			class="" 
		>
			Hur köper man kryptovaluta❓
			<small class="d-block" style="font-size:0.7rem; color:gray;">
				Läs mer
			</small>
		</a>
	</div>
	<div class="container  text-center">
		<label style="font-size:0.68rem; font-style:italic; color:#F47174;" class=" m-0 ">
			Handla inte mer än vad du har råd att förlora.
		</label>
	</div>
{% include 'components/articles/article_container.html' %}
<div class="curved mt-3">
	<svg viewBox="0 0 1440 319">
		<path fill="rgb(85, 85, 85, 0.8)" fill-opacity="1" d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
	</svg>
</div>

<script>




function toogleSnabbGuideContainer() {
  var x = document.getElementById("display-desktop");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

if(window.screen.width < 500){
 	// Mobile Phone view activated!
 	let box = document.getElementById('display-desktop');
 	box.style.display = "none";
} else{
	// Remove the show more button for desktop view
 	document.getElementById("Metamask-snabb-guide-show-more-button").remove();
}


</script>
{% endblock %}


