{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'styleFolder/components/footer.css' %}">




<div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Artiklar</h3>
                        <ul>
                            <li><a href="/Kryptovaluta">Vad är krypto</a></li>
                            <li><a href="/Stablecoins">Stablecoins</a></li>
                            <li><a href="#">Defi</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Kryptovaluta</h3>
                        <ul>
                            <li><a href="#">Bitcoin</a></li>
                            <li><a href="#">Ethereum</a></li>
                            <li><a href="#">Xrp</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Kontakt</h3>
                        <ul>
                            <li>
                                <p>Email: </br>cryptoviking@outlook.com</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <small>
                            CryptoViking is a cryptocurrency magazine not a financial advisor. The information on this website should not be taken as financial advice.
                        </small>
                        <!-- <ul>
                            <li><a href="#">Job openings</a></li>
                            <li><a href="#">Employee success</a></li>
                            <li><a href="#">Benefits</a></li>
                        </ul> -->
                    </div>
                    <div class="col-lg-3 d-flex justify-content-center" style="margin:0 auto 0 auto;">
                        <a href="#" class="m-2">
                            <img src="{% static 'images/tokens/btc-token.png' %}" style="width:40px; height:40px"/> 
                        </a>
                        <a href="#" class="m-2">
                            <img src="{% static 'images/tokens/eth.png' %}" style="width:40px; height:40px"/>
                        </a>
                        <a href="#" class="m-2">
                            <img src="{% static 'images/tokens/stablecoins/usdT.png' %}" style="width:40px; height:40px"/>
                        </a>
                        <a href="#" class="m-2">
                            <img src="{% static 'images/tokens/doge-token.png' %}" style="width:40px; height:40px"/>
                        </a>
                    </div>
                        <p class="copyright">CryptoViking.se © 2021</p>
                </div>
            </div>
        </footer>
    </div>
