{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'styleFolder/components/introImageContainer.css' %}">

<div class="row ImageWrapper" style="margin:auto;">
	<a class="col-lg-4 heightImageWrapper mt-1" href="/Kryptovaluta" style="padding:0.9px;">
		<img  src="{% static 'images/cover-images/kryptovaluta.png' %}" class="rounded img-fluid" />
		<div class="image-title-container">
			<h6> Vad är Crypto? </h6>
		</div>
	</a>
	<div class="col-lg-8 d-flex flex-column aling-center twoImageContainer" style="">
		<a class="widthImageWrapper first" href="">
			<img src="https://cdna.artstation.com/p/assets/images/images/014/855/564/4k/marie-stephanie-surga-viking-enchanted-island-final.jpg?1545927623"
			class="rounded">
			<div class="image-title-width-container">
				<h6> Blockchain101 </h6>
			</div>
		</a>
		
		<a class="widthImageWrapper second" href="/Exchange-Vs-HardwareWallet">
			<img   class=" rounded" src="{% static 'images/cover-images/cartoon-nature.png' %}" />
			<div class="image-title-width-container">
				<h6> Exchange Wallet Vs HardWare-Wallet </h6>
			</div>
			
		</a>
	</div>
</div>





