
<link rel="stylesheet" href="{% static 'styleFolder/components/introImageContainer.css' %}">


<div class="ImageWrapper mx-auto d-flex flex-wrap-reverse   justify-content-center" >
	<div class="sideContainerintro">
		<a href="/non-fungible-token"
			class=" m-lg-2 m-4  d-flex flex-column align-items-center justify-content-between hover-function"
			style="width:250px; height:180px;border-radius:20px; color:white;">
			
			<div
				style="width:100%; height:100%; border-radius:20px 20px 0 0;"
				class="d-flex flex-column justify-content-center align-items-center"
			>
				<img  src="{% static 'images/NFT/NftBase.png' %}"
					class=" img-fluid" style="height:150px; width:100%; border-radius:15px 15px 0px 0px;" >
			</div>

			<div class=" w-100 text-center p-1" style="border-radius:0px 0 20px 20px; background:#85BB65; font-style:italic; opacity:0.9;">
				Läs om NFT
			</div>
		</a>
		<img class="d-none d-lg-block" src="{% static 'images/bonus-images/controlD.png' %}" alt="CryptoViking.se Control + D" style="border-radius:5px; width:250px;"  
		/>
		<a href="/tjana-krypto" 
			class=" m-lg-2 m-4  d-flex flex-column align-items-center justify-content-between hover-function"
			style="width:250px; height:180px;border-radius:20px; color:white;">
			
			<div
				style="width:100%; height:100%; border-radius:20px 20px 0 0;"
				class="d-flex flex-column justify-content-center align-items-center"
			>
				<img  src="{% static 'images/cover-images/crypto-staking.png' %}"
					class=" img-fluid" style="height:150px; width:100%; border-radius:15px 15px 0px 0px;" >
			</div>

			<div class=" w-100 text-center p-1" style="border-radius:0px 0 20px 20px; background:#85BB65; font-style:italic;">
				Läs om Krypto Staking
			</div>
		</a>
	</div>
	<div class="d-flex flex-column aling-center twoImageContainer " style="">
		<!-- Slide Box -->
		<div class="widthImageWrapper first ">
			<a class="slider-img" href="{{newsOne.get_category_display}}/{{newsOne.slug}}">
				{% if newsOne.cover_image %}
					<img  src="{{newsOne.cover_image.url}}">
				{% endif %}
				<div class="p-2" style="color:whitesmoke; font-style:italic; position:absolute; bottom:30px; background:rgba(85, 85, 85, 0.5);">
					<h6>{{newsOne.title}}</h6>
				</div>
			</a>

			<!-- End of Slide Box -->
			<div class="d-flex justify-content-between">
				<button class="btn" onclick="prev()" style="color:white; font-style:italic;">Bakåt</button>
				<div style="text-align:center">
					<span class="dot"></span>
					<span class="dot"></span>
					<span class="dot"></span>
				</div>
				<button class="btn" onclick="next()" style="color:white; font-style:italic;">Framåt</button>
			</div>
		</div>

		<div class="intro-bottom-container ">
			<a class="widthImageWrapper second  d-lg-block rounded" style="overflow:hidden;"href="/kryptovalutaplanbok">
				<img   class="img-fluid rounded " src="{% static 'images/cover-images/kryptowallets.png' %}" />
			</a>
			
			<div class="intro-image-bottom-mascot d-flex flex-column align-items-center">
				<div class="astroid-binance-crypto-container">
					<img class="astroid-crypto-planet" src="{% static 'images/crypto-exchanges/crypto-com.png' %}" style="width:50px;" />

					<img class="astroid-binance-planet" src="{% static 'images/crypto-exchanges/binance.png' %}" style="width:50px;" />

					<img class="astroid-mascot-planet" src="{% static 'images/mascot/cryptoviking-se.png' %}" style="width:60px;" />
				</div>
			</div>

		</div>
	</div>
</div>
<div class="text-center mt-4">
	<a 
		href="/artiklar"
		style="font-weight:normal; font-style:italic;" 
		class="" 
	>
		Se fler nyheter
	</a>
</div>

<style>

	.mobile-newscontainer-label{
		bottom:30px;
	}
	@media (max-width:450px){
	
		.mobile-newscontainer-label{
			bottom:5px;
		}

	}


</style>

<script>

	var itemOne = `
		<a class="widthImageWrapper first "href="{{newsOne.get_category_display}}/{{newsOne.slug}}">
			{% if newsOne.cover_image %}
				<img  src="{{newsOne.cover_image.url}}">
			{% endif %}
			<div class="p-2 mobile-newscontainer-label" style=" width:350px; color:whitesmoke; font-style:italic; 
			position:absolute; background:rgba(85, 85, 85, 0.5);">
				<h6>{{newsOne.title}}</h6>
			</div>
		</a>
	`

	var itemSecond = `
		<a class="widthImageWrapper first "href="{{newsSecond.get_category_display}}/{{newsSecond.slug}}">
			{% if newsSecond.cover_image %}
				<img  src="{{newsSecond.cover_image.url}}">
			{% endif %}
			<div class="p-2 mobile-newscontainer-label" style="width:350px; color:whitesmoke; font-style:italic; position:absolute; background:rgba(85, 85, 85, 0.5);">
				<h6>{{newsSecond.title}}</h6>
			</div>
		</a>
	`

	var itemThird = `
		<a class="widthImageWrapper first "href="{{newsThird.get_category_display}}/{{newsThird.slug}}">
			{% if newsThird.cover_image %}
				<img  src="{{newsThird.cover_image.url}}">
			{% endif %}
			<div class="p-2 mobile-newscontainer-label" style=" width:350px; color:whitesmoke; font-style:italic; position:absolute; background:rgba(85, 85, 85, 0.5);">
				<h6>{{newsThird.title}}</h6>
			</div>
		</a>
	`

	var slider_img = document.querySelector('.slider-img');
	var images = [itemOne, itemSecond, itemThird, ];
	var i = 0;

	function prev(){
		if(i <= 0) i = images.length;	
		i--;
		return setImg();			 
	}

	function next(){
		if(i >= images.length-1) i = -1;
		i++;
		return setImg();			 
	}

	function setImg(){
		return slider_img.innerHTML = images[i];
	}

</script>

