{% load static from staticfiles %}

<div class="p-2 d-flex flex-column align-items-center mt-5" style="color:whitesmoke;">
	<small style="font-style:italic; opacity:0.9; font-size:0.75rem;" class="m-0"> Reklam </small>
	<a href="https://www.binance.com/en/register?ref=JTZNNQHD" target="_blank" 
		class="affiliate-binance" class=" mx-auto d-flex justify-content-center commercial-top align-items-center hover-function" style="">
		<img src="{% static	'images/Binance/Banners/banner-520-70.png' %}" alt=""  class="img-fluid rounded " />
	</a>
</div>


