{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'styleFolder/components/crypto-exchange/banners/exchange-banner-350-330.css' %}">

<div class="image-planets-container">
	<img class="" src="{% static 'images/tokens/btc-token.png' %}" alt="token" 
		style="opacity:0.8; width:45px; position:absolute; top:5px; right:120px; border-radius:47%; box-shadow:0 0 10px #fff;" 
	/>

	<img class="" src="{% static 'images/tokens/eth.png' %}" alt="token" style="width:42px; position:absolute; top:80px; right:160px; border-radius:50%; box-shadow:0 0 10px #fff;" />
	<img class="astroid-binance-planet" src="{% static 'images/tokens/xrp.png' %}" alt="token" 
		style="opacity:0.8; width:35px; position:absolute; top:20px; right:210px; border-radius:50%; box-shadow:0 0 10px #fff;" 
	/>
	<img class="" src="{% static 'images/tokens/cardano.png' %}" alt="token" 
		style="opacity:0.8; width:35px; position:absolute; top:70px; right:260px; border-radius:50%; box-shadow:0 0 10px #fff;" 
	/>
	<img class="astroid-mascot-planet" src="{% static 'images/mascot/cryptoviking-se.png' %}"  alt="token" 		style="width:60px; position:absolute; top:60px; right:40px; border-radius:50%; box-shadow:0 0 10px #fff;" 
	/>
</div>


<h4 class="" style="font-family:Almendra SC, serif; font-weight:bold;border-bottom:1px solid lightgray; "> Crypto Exchanges </h4>
<label style="font-size:0.68rem; font-style:italic; color:#F47174;" class=" m-0 ">
	Handla inte mer än vad du har råd att förlora.
</label>
<div class="crypto-exchanges-container" style="position:relative;">
	<p style="position:absolute; left:70px; top:10px; font-size:0.9rem; font-style:italic; font-weight:bold; letter-spacing:2px; color:gray;"> Besök </p>
	<a 
		href="https://www.binance.com/en/register?ref=JTZNNQHD" 
		target="_blank" 
		class="affiliate-binance"
		style="font-style:italic;" 
	>
		<span>Binance.com </span>
		<img src="{% static	'images/crypto-exchanges/binance.png' %}"
			style="width:50px; opacity:0.85" 
		/>
	</a>
	<a 
		href="https://crypto.com/app/kd26d8skzr" 
		target="_blank" 
		class="affiliate-crypto"
		style="font-style:italic;" 
	>
		<img src="{% static	'images/crypto-exchanges/crypto-com.png' %}"
		style="width:44px; opacity:0.85" 
		/>
		<span>Crypto.com </span>
	</a>	
</div>






<!-- <h4 style="font-family:Almendra SC, serif; font-weight:bold;border-bottom:1px solid lightgray; "> Crypto Exchanges </h4>
<label style="font-size:0.68rem; font-style:italic; color:#F47174;" class=" m-0 ">
	Handla inte mer än vad du har råd att förlora.
</label>
<div class="exchange-container-350px-330px">
	<img src="{% static 'images/walls/wooden-wall.png' %}" class="img-fluid " alt="wall" style="border-radius:10px;"/>
	<div class="exchange-content-wrapper">
		<div class="exchange-content-image-wrapper">
			<img src="{% static 'images/crypto-exchanges/crypto-com.png' %}" alt="token" />
		</div>
		<div class="exchange-info-container">

				<div class="title-wrapper">
					<h3> Crypto.com</h3>
					<div class="star-title">⭐</div>
				</div>
			<div class="button-container">
				<a href="https://crypto.com/app/kd26d8skzr" target="_blank" class="btn btn-success affiliate-crypto">
					Öppna Konto
				</a>
			</div>
		</div>
	</div>
</div>
<div class="exchange-container-350px-330px mt-5">
	<img src="{% static 'images/walls/wooden-wall.png' %}" class="img-fluid" alt="wall" style="border-radius:10px;"/>
	<div class="exchange-content-wrapper">
		<div class="exchange-content-image-wrapper">
			<img src="{% static 'images/crypto-exchanges/binance.png' %}" alt="binance-token"/>
		</div>
		<div class="exchange-info-container">

				<div class="title-wrapper">
					<h3> Binance</h3>
					<div class="star-title">⭐</div>
				</div>
			<div class="button-container">
				<a href="https://www.binance.com/en/register?ref=JTZNNQHD" target="_blank" class="btn btn-success affiliate-binance">
					Öppna Konto
				</a>
			</div>
		</div>
	</div>
</div>
 -->




<div class="w-100 flex-grow-1 d-flex flex-column align-items-center justify-content-center ">
	<img class="d-none d-lg-block" src="{% static 'images/mascot/viking-banner.png' %}" alt="CryptoViking.se spacerider" style="border-radius:50px; box-shadow:0 0 8px #fff;" />
</div>

<div class="w-100 flex-grow-1 d-flex flex-column align-items-center justify-content-center ">
	<img class="d-none d-lg-block" src="{% static 'images/bonus-images/controlD.png' %}" alt="CryptoViking.se Control + D" style="border-radius:5px; box-shadow:0 0 8px #fff;" />
</div>
<div class="container d-flex flex-column mt-5">
	<h5 style="font-style:italic; font-weight:normal; border-bottom:1px solid lightgray; color:#85BB66"> Kryptovalutor</h5>
	<ul>
		<li class="mt-2">
			<a href="/handla/bitcoin" style="font-weight:normal;"> Bitcoin </a>
		</li>
		<li class="mt-2">
			<a href="/handla/ethereum" style="font-weight:normal;"> Ethereum </a>
		</li>
		<li class="mt-2">
			<a href="/handla/cardano" style="font-weight:normal;"> Cardano </a>
		</li>
	</ul>
</div>
<br>
<style type="text/css">
	.crypto-exchanges-container{
		display:flex;
		flex-direction:column;
		align-items: center;
		justify-content:space-around;
		height:200px;
		width:100%;
		background: url('/static/images/crypto-exchanges/crypto-exchange-banner.png') no-repeat center;"
	}
</style>
