{% extends 'Base.html' %}
{% load static from staticfiles %}
{% block extra_htmt_head %}

<title>Non-Fungible-Token | Vad är NFT-konst | Hur/var köper man NFT</title>
<meta name="description" content="Värdet på på Non-Fungible-Token-konst har fullkomligt rusat i höjden
de senaste två åren. Vad är det och hur kan man investera i NFT? Var kan man skapa NFT?" />

<meta property="og:title" content="Non-Fungible-Token | Vad är NFT-konst | Hur/var köper man NFT" />
<meta property="og:url" content="https://www.cryptoviking.se/non-fungible-token" />
<meta property="og:description" content="Värdet på på Non-Fungible-Token-konst har fullkomligt rusat i höjden
de senaste två åren. Vad är det och hur kan man investera i NFT? Var kan man skapa NFT?">

<meta property="og:image" itemprop="image" content="{% static 'images/NFT/NftBase.png' %}">
<link rel="canonical" href="/non-fungible-token" />
<link rel="stylesheet" href="{% static 'styleFolder/components/static-pages/static-pages-base.css' %}">

{% endblock %}
{% load static %}
{% block content_container %}

<div class="container-wrapper mt-3">
	<div class="container-flex">
		<div class="main-container">
			<div class="container mt-3 pl-lg-5">
				<div class="cover-image">
					<img src="{% static 'images/NFT/NftBase.png' %}" alt="NFT" class="rounded img-fluid" />
				</div>
				<div class="container mt-4">
					<h3 class=""> Digitala alster är rätt i tiden </h3>
					<p class="pl-2">
						De senaste åren har Non-Fungible-Token skapat rubriker inom konstvärlden och inte minst
						efter våren 2021 då programmeraren Vignesh Sundaresan från Singapore betalade 42,329
						Ether, värt cirka 600 miljoner kr, för konstverket Everydays: the First 5000 Days skapat av
						Mike Winkelmann känd som Beeple. Men vad var det som var speciellt med detta konstverk?
						Jo, den var byggd på digitala Non-Fungible-Token (NFT).
					</p>
				</div>
				<div class="container mt-5">
					<h1 class="orange-viking-title">Vad är Non-Fungible-Token (NFT)? </h1>
					<p class="pl-2">
						Non-Fungible är engelska och betyder att något är unikt, original och kan inte dupliceras, det
						vill säga att det finns bara ett enda exemplar. NFT-konst (som kan vara bilder, låtar,
						ljudfilmer, videon etc) skapas av tokens i en blockchain och är med andra ord virtuella
						konstverk/alster som kan ses eller lyssnas till på skärmar. Det unika med virtuella alster i en
						blockchain är att de inte går att förfalska eftersom alstrets krypterade kod garanterar äktheten,
						visar vem som är alstrets skapare, nuvarande respektive föregående ägare.
					</p>
					<p class="pl-2">
						NFT-tekniken började utvecklas år 2014, men blev känt för den bredare allmänheten i
						årsskiftet 2017/2018 då samlarkorten Cryptokittens kom till och som fortfarande är inne bland
						samlare.
					</p>
				</div>
				<div class="container mt-5">
					<h3> Hur skapar man NFT? </h3>
					<p>
						Det är fritt fram för alla att skapa sina egna NFT och sedan lägga ut dem för försäljning. Men
						innan alstret kan säljas måste den digitala filen publiceras, bättre känt under det engelska
						uttrycket minting, med skaparens Non-Fungible-Token i blockkedjan. När detta är gjort är
						verket klart att säljas. Kryptomäklaren Binance är den största aktören inom kryptohandel och
						har även en plattform för NFT-konst. I nuläget är det endast en del som får skapa NFT på
						Binance plattform, men målet är att i snar framtid ska det var öppet för alla.
					</p>
					<p class="pl-2">
						OpenSea är ett annan operatör som erbjuder en plattform där man kan skapa NFT-konst. När
						verket sedan läggs ut till försäljning tas en transaktionsavgift ut. Denna avgift går under
						namnet gasavgift.
					</p>
				</div>
				<div class="container mt-5">
					<h3>Hur och var köper man NFT-Konst?</h3>
					<p class="pl-2">
						För att kunna köpa NFT-konst behöver du skaffa dig en digital plånbok, till exempel
						<a href="/metamask-guide">Metamask</a>, som är en omtyckt och flitigt använd wallet. Självklart måste du ha digital valuta i
						plånboken för att genomföra ett köp. <a href="/handla/ethereum">Ethereum</a> är den mest använda valutan inom NFT på
						grund av blockchain-applikationsplattformen och smarta kontrakten.
					</p>
					<p class="pl-2">
						När du har en digitalplånbok är det bara att ge sig ut på nätet och leta efter den sortens NFT-
						konst som tilltalar dig. OpenSea är den största aktören på NFT-marknaden och även icke
						kända konstnärer kan lägga ut sina digitala alster till försäljning. Utbudet består av konst,
						samlarkort, musik och mycket mer. NiftyGateWay är en marknadsplats som har koncentrerat
						sig på att marknadsföra konst av kända etablerade konstnärer. Även en del auktionshus har
						börjat med digital konst. Den berömda First Fifty Days som såldes för 69 miljoner $ såldes av
						det anrika auktionshuset Christie’s.
					</p>
					<p class="pl-2">
						Det är inte per automatik som ägaren har ensam rätt till sitt köpta verk. Det är viktigt att köpet
						sker via ett kontrakt som ger full äganderätt till köparen. Om kontrakt saknas eller är
						ofullständigt får köparen inte göra vad den vill med sitt köpta verk. Vid köp av NFT använder
						man i princip alltid smarta kontrakt och det ställer en del krav på att programmeringen blir rätt
						gjord för att äganderätten ska vara laglig.
					</p>

					<hr>
					<h6 class="text-center mt-5" style="font-style:italic;"> Köp NFT-Konst Via OpenSea </h6>
					<div class="row" style="font-style:italic;">

						<div class="col-sm-6 d-flex flex-column align-items-center"
							style="height:330px;  width:320px;" 
						>
							<!-- Carousl Container OpenSea  -->
							<div id="carouselOpenSea" class="carousel slide m-5 mx-auto" 
								style="
								border-radius:20px; box-shadow:0 0 10px #fff;" data-ride="carousel" data-interval="false">
							  <ol class="carousel-indicators">
							    <li data-target="#carouselOpenSea" data-slide-to="0" class="active"></li>
							    <li data-target="#carouselOpenSea" data-slide-to="1"></li>
							  </ol>

							  <div class="carousel-inner" style="height:100%;">

							    <div class="carousel-item active" style="height:100%;">
							      <img class="d-block mx-auto img-fluid mt-1 " style="border-radius:10px;" src="{% static 'images/NFT/openSea.png' %}" alt="First slide">
							    </div>

							    <div class="carousel-item" style="height:100%;">
							      <img class="d-block mx-auto img-fluid" style="border-radius:10px;" src="{% static 'images/NFT/boredApe.png' %}" alt="Second slide">
							    </div>
							  </div>
							  <a class="carousel-control-prev"  href="#carouselOpenSea" role="button" data-slide="prev">
							    <span class="carousel-control-prev-icon"   aria-hidden="true"></span>
							    <span class="sr-only">Previous</span>
							  </a>
							  <a class="carousel-control-next" href="#carouselOpenSea" role="button" data-slide="next">
							    <span class="carousel-control-next-icon" aria-hidden="true"></span>
							    <span class="sr-only">Next</span>
							  </a>
							</div>
						</div>


						<div class="col-sm-6" style="height:330px;">
							<div class="d-flex flex-column align-items-center">
	 							<img src="{% static 'images/Binance/spaceship.png' %}" style="width:100px; height:80px;" class="mt-3">
	 							<a href="https://www.binance.com/en/register?ref=JTZNNQHD" style="text-align:center; font-size:0.9rem; font-weight:normal; font-style:italic;" class="affiliate-binance"> Köp Ether via Binance </a>
	 						</div>
 							<ul>
 								<li class="mt-4"> Skaffa Ether </li>
 								<li class="mt-2"> Överför till MetaMask plånbok </li>
 								<li class="mt-2"> Koppla din Metamask konto till OpenSea</li>
 								<li class="mt-2"> Välj/köp utbud </li>
 							</ul>
	 						
						</div>
						<label style="font-size:0.68rem; font-style:italic; color:#F47174;" class=" m-0 ">
							Handla inte mer än vad du har råd att förlora.
						</label>
					</div>
				</div>

				<!-- <div class="d-flex justify-content-around  flex-wrap rounded mt-5">
					<div  class="d-flex flex-column align-items-center m-2" style="min-width:150px; color:lightgray;">
						<img src="{% static 'images/tokens/enjin.png' %}" alt="token-small-image" style="width:60px; height:60px"/>
						<div class="price-token" style="text-align:center;">
							<b> Enjin </b>
						</div>
					</div>
					<div  class="d-flex flex-column align-items-center m-2" style="min-width:150px; color:lightgray;">
						<img src="{% static 'images/tokens/smoothlovepotion.png' %}" alt="token-small-image" style="width:60px; height:60px; margin:0 auto 0 auto;"/>
						<div class="price-token" style="text-align:center;">
							<b> Smooth Love Potion </b>
						</div>
					</div>
					<div  class="d-flex flex-column align-items-center m-2" style="min-width:150px; color:lightgray;">
						<img src="{% static 'images/tokens/axie.png' %}" alt="token-small-image" style="width:60px; height:60px; margin:0 auto 0 auto;"/>
						<div class="price-token" style="text-align:center;">
							<b> Axie </b>
						</div>
					</div>
					<div class="d-flex flex-column align-items-center m-2" style="min-width:150px; color:lightgray;">
						<img src="{% static 'images/tokens/sandbox.png' %}" alt="token-small-image" style="width:60px; height:60px; border-radius:50%"/>
						<div class="price-token" style="text-align:center;">
							<b> The Sandbox </b>
						</div>
					</div>
					<div class="button-container-exchange d-flex flex-column w-100 align-items-center mt-3">
						<a href="https://www.binance.com/en/register?ref=JTZNNQHD" target="_blank" class="m-1 affiliate-binance text-center">
							Handla NFT-Tokens </br> via Binance.com
						</a>
						
					</div>
				</div>
				<label style="font-size:0.68rem; color:#F47174;" class="m-0 pl-2">
					Investera inte mer än vad du har råd att förlora.
				</label>
 -->



				<div class="container mt-5">
					<h3> Risker med NFT </h3>
					<p class="pl-2">
						Många frågar sig om NFT är en bubbla som kommer att spricka eller om den är här för att
						stanna. Som med många andra investeringar är det svårt att sia om vad som kommer att hända
						i framtiden. Men om investeraren lyckas välja ut rätt artist och rätt verk till ett lagom pris kan
						han tjäna rikligt på det. Det gäller dock att ha i bakhuvudet att NFT-marknaden har ganska
						nyligen lämnat startgroparna och det finns ännu inga experter inom området som recenserar
						vad som är så att säga ”riktig konst” och vad man inom den fysiska konstvärlden skulle
						betrakta som amatörverk. Man kan jämställa letandet efter ett alster vars värde kommer att
						skjuta i höjden som att hitta en nål i en höstack.
					</p>
					<p class="pl-2">
						En NFT-artefakt kan även förloras om företaget som utfärdade det går i konkurs. Filen
						kommer då helt enkelt sluta att existera. En lösning för att detta inte ska hända är att man
						börjar lagra filerna själv i sin egna plånbok.
					</p>

					<p class="pl-2">
						Allt som programmeras in i en blockkedja är oåterkalleligt och om en hackare lyckas komma
						in i din dator och stjäl din konst har du förlorat den för alltid. För att skydda dig mot detta
						gäller att du använder dig av preventiva metoder som att skydda dina koder.
					</p>
				</div>
				<div class="container mt-5">
					<h3> Vem anger värdet på NFT? </h3>
					<p class="pl-2">
						Som med all annan konst gäller det för konstnären att göra sig känd genom att skapa konst
						som folk är villiga att betala för. För syvende och sist är ett verks värde vad människor är
						beredda att betala för att äga något unikt och sällsynt. Om det inte finns köpare till ett verk har
						det inget värde.
					</p>
					<p class="pl-2">
						Som i fall med fysisk konst som ingen vill ha och konst för miljontals dollar så är det likadant
						med NFT-konsten - efterfrågan styr priset.
					</p>
				</div>
				<div class="container mt-5">
					<h3> Har NFT en framtid? </h3>
					<p class="pl-2">
						Frågan många ställer sig är om NFT har en framtid. Allt pekar just nu på att NFT har kommit
						för att stanna. Allt mer håller på och flyttas över till den digitala världen så varför inte även
						konst och underhållning i olika former? Individens habegär göder den digitala konsten då man
						vill vara speciell och stå ut i mängden genom att äga något unikt och sällsynt.
					</p>
					<p class="pl-2">
						Med hjälp av den nya tekniken har stora möjligheter skapats även inom datorspelsmarknaden
						där Non-Fungible-Tokens gör det möjligt för spelarna att vara mer aktiva i spelen genom att
						skapa, köpa och sälja eftertraktade föremål och landområden för att kunna avancera till högre
						nivåer i spelen.
					</p>
				</div>
				<div class="container mt-5">
					<h3>Sammanfattning</h3>
					<p class="pl-2">
						Allt mer i vår vardag håller på och flyttas över till den digitala världen så därför är det inte
						konstigt att även konst och underhållning i olika former också gör det Men vad händer med
						NFT-konsten när tjusningen och nyhetens behag har ebbat ut? Det kommer att bli intressant
						att se om NFT-konst kommer att ersättas av något annat. Kanske kommer de digitala alstren
						eller en del av dem att förvandlas till någon sorts fysisk form så att folk kan beundra verken
						på utställningar. 
						</br>
						(Människan är en social varelse och förr eller senare kommer man att vilja
						träffas och göra saker tillsammans som att gå på utställningar och museum.) 
						</br>
						Och vad kommer då att hända med verken som inte platsar i de fysiska lokalerna utan blir kvar i den digitala världen? Det finns många frågor som inte går att besvara nu utan det är bara att vänta och se. Men just pekar allt på att NFT har kommit för att stanna och de senaste två åren har virtuella alster sålts för hundratals miljoner dollar och omsättningarna väntas stiga för vart år.
					</p>
				</div>
			</div>
		</div>
		<div class="side-container">
			{% include 'components/crypto-exchange/banners/Exchange-Banner-350-330.html' %}
		</div>
	</div>
</div>
<div class="author-container container d-flex justify-content-center align-items-center">
	<div class="d-flex flex-column align-items-center ">
		<img src="{% static 'images/mascot/viking-contet-writer.png' %}" alt="cryptoloan-cryptoviking.se" style="width:300px;">
	</div>
</div>
<div class="curved mt-3">
	<svg viewBox="0 0 1440 319">
		<path fill="rgb(85, 85, 85, 0.8)" fill-opacity="1" d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
	</svg>
</div>

<script>


	var i = 0;
	var images = [];
	

	images[0] = `{% static 'images/crypto-exchanges/Loan/binance-loan-step-1.png' %}`
	images[1] = `{% static 'images/crypto-exchanges/Loan/binance-loan-step-2.png' %}`
	images[2] = `{% static 'images/crypto-exchanges/Loan/binance-loan-step-3.png' %}`


	let currentImage = document.getElementById('binance-loan-image');
	currentImage.setAttribute('src', images[i])

	function forwardButton(){
		console.log('forwardButton')
		slideImage('Forward')
	}

	function slideImage(e){
		// E is value from Forward function.
		let x = e;
		if( x === "Forward"){
			console.log(' Forward')
			if( i < images.length - 1 ){
				i++;
				currentImage.setAttribute('src', images[i])
			} else {
				i = 0;
				currentImage.setAttribute('src', images[0])
			}	
		} 
	}

</script>
<style type="text/css">
	#carouselOpenSea{
		height:350px;
		width:350px;
	}


@media(max-width:450px){
	#carouselOpenSea{
		height:250px;
		width:324px;
	}

</style>

</style>
{% endblock %}

