.image-planets-container{
	width:80%;
	height:150px;
	margin:10px auto 10px auto;
	position:relative;
}


.exchange-container-350px-330px{
	width:350px;
	height:120px;
	box-shadow: 0 1px 20px 0 rgb(0 0 0 / 10%);
	position:relative;
	
}
.exchange-container-350px-330px img{
	width:100%;
	height:120px;
}
.exchange-content-wrapper{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	display:flex;


}
.exchange-content-image-wrapper{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	padding:5px;
}

.exchange-content-image-wrapper img{
	width:70px;
	height:60px;
}
.exchange-info-container{
	flex-grow:1;
	padding:10px;
	/*background:rgb(85, 85, 85, 0.5);*/
	margin-right:40px;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}

.title-wrapper h3{
	font-weight:bold;
	color:#F69516;
	font-family: "Almendra SC", serif;
	letter-spacing:2px;
	margin:0;
}
.title-wrapper{
	display:flex;
	justify-content:space-between;
	align-items:center;
	background:rgb(85, 85, 85, 0.5);
	padding:5px;
	border-radius:3px;
	box-shadow: 0 1px 20px 0 rgb(0 0 0 / 10%);
}
.star-title{
	font-size:20px;
}
.button-container{
	display:flex;
	justify-content:space-around;
}
.button-container a{
	margin:0;
	padding:3px 20px 3px 20px;
}