{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'styleFolder/components/tokens/stablecoins/stablecoinsDashboard.css' %}">


<div class="stablecoin-wall mt-5">

	<img src="{% static 'images/tokens/btc-token.png' %}" style="width:60px; height:60px"/>

	<img src="{% static 'images/tokens/eth.png' %}" style="width:60px; height:60px"/>
	<img src="{% static 'images/tokens/stablecoins/usdT.png' %}" style="width:60px; height:60px"/>

	<img src="{% static 'images/tokens/doge-token.png' %}" style="width:60px; height:60px"/>

</div>