{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'styleFolder/components/tokens/dashboard-tokens.css' %}">



<div class="wall-papper-tokens-container">
	<h2 class="mt-2"> Crypto Tokens </h2>
	<div class="token-wrapper">
		
		<a class="token-container-flex mt-4">
			<div class="star-container"> 
				⭐
			</div>

			<div class="token-content-flex"> 
				<img src="{% static 'images/tokens/btc-token.png' %}" style="width:60px; height:60px"/>
				<div class="token-info">
					<h4> Bitcoin </h4>
					<div class="price-token">
						<b id="bitcoin-price-container"> </b>
					</div>
				</div>
			</div>

			<div class="star-container"> 
				⭐
			</div>
		</a>

		<a class="token-container-flex mt-4">
			<div class="star-container"> 
				⭐
			</div>
			<div class="token-content-flex"> 
				<img src="{% static 'images/tokens/eth.png' %}" style="width:60px; height:60px"/>
				<div class="token-info">
					<h4> Ethereum </h4>
					<div class="price-token">
						<b id="ethereum-price-container"> </b>
					</div>
				</div>
			</div>
			<div class="star-container"> 
				⭐
			</div>
		</a>

		<a class="token-container-flex mt-4">
			<div class="star-container"> 
				⭐
			</div>
			<div class="token-content-flex"> 
				<img src="{% static 'images/tokens/cardano.png' %}" style="width:60px; height:60px"/>
				<div class="token-info">
					<h4> Cardano </h4>
					<div class="price-token">
						<b  id="cardano-price-container"> </b>
					</div>
				</div>
			</div>
			<div class="star-container"> 
				⭐
			</div>
		</a>

		<a class="token-container-flex mt-4">
			<div class="star-container"> 
				⭐
			</div>
			<div class="token-content-flex"> 
				<img src="{% static 'images/tokens/xrp.png' %}" style="width:60px; height:60px"/>
				<div class="token-info">
					<h4> Xrp </h4>
					<div class="price-token">
						<b id="ripple-price-container"> </b>
					</div>
				</div>
			</div>
			<div class="star-container"> 
				⭐
			</div>
		</a>

		<a class="token-container-flex mt-4">
			<div class="star-container"> 
				⭐
			</div>
			<div class="token-content-flex"> 
				<img src="{% static 'images/tokens/dot.png' %}" style="width:60px; height:60px"/>
				<div class="token-info">
					<h4> Polkadot </h4>
					<div class="price-token">
						<b id="polkadot-price-container"></b>
					</div>
				</div>
			</div>

			<div class="star-container"> 
				⭐
			</div>
		</a>

	</div>
	<div class="image-wrapper">
		<img src="{% static 'images/viking-guy5.png' %}" class="img-fluid" />
	</div>
</div>




