{% extends 'Base.html' %}
{% load static %}
{% block extra_htmt_head %}

<title>{{article.meta_title}}</title>
<meta name="description" content="{{article.meta_description}}" />
<meta property="og:url" content="https://www.cryptoviking.se/{{article.get_category_display}}/{{article.slug}}" />
<meta property="og:title" content="{{article.meta_title}}" />
<meta property="og:description" content="{{article.meta_description}}">

<meta property="og:image" itemprop="image" content="{{article.cover_image.url}}">
<link rel="canonical" href="https://www.cryptoviking.se/{{article.get_category_display}}/{{article.slug}}" />
<link rel="stylesheet" href="{% static 'styleFolder/components/generic-pages/generic-pages-base.css' %}">
<link rel="stylesheet" href="{% static 'styleFolder/components/static-pages/static-pages-base.css' %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@CryptovikingSe">
<meta name="twitter:title" content="{{article.meta_title}}">
<meta name="twitter:description" content="{{article.meta_description}}">
<meta name="twitter:image" content="https://www.cryptoviking.se{{article.cover_image.url}}">


{% endblock %}
{% load static %}
{% block content_container %}
<div class="container-wrapper mt-3">
	<div class="container-flex">
		<div class="main-container">
			<div class="container mt-3 pl-lg-5">
				<div class="cover-image">
					<div class="container d-flex justify-content-between">
						<div class="">
							<small style="font-style:italic;">
								Blockchain
							</small>
						</div>

						<div class="">
							<small style="font-style:italic;">
								 Publicerad {{ article.publish_at | date:"M d Y H:i" }}
							</small>
						</div>
					</div>
					{% if article.cover_image.url %}
					<img src="{{article.cover_image.url}}" alt="Krypto Exchange" class="rounded img-fluid" />
					{% endif %}
					<div 
						class="fb-share-button m-0" 
						data-href="https://www.cryptoviking.se/{{article.get_category_display}}/{{article.slug}}" 
						data-layout="button" 
						data-size="small"
					>
						<a 
							target="_blank" 
							href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.cryptoviking.se%https://www.cryptoviking.se/{{article.get_category_display}}/{{article.slug}}" 
							class="fb-xfbml-parse-ignore"
						>
							Share
						</a>
					</div>
				</div>
				<div class="container mt-5">
					<h1 class="orange-viking-title"> {{article.title}}</h1>
					<div class="container">
						{{ article.content|safe }}
					</div>
				</div>
			</div>
			<div class="container mt-5">
				<a 
					style="margin:10px;" 
					data-size="small"
					target="_blank" 
					class="twitter-share-button"
					data-href="https://www.cryptoviking.se/{{article.get_category_display}}/{{article.slug}}"
				  	
				  >
					Tweet
				</a>
			</div>
			<br>
		</div>
		<div class="side-container">
			{% include 'components/crypto-exchange/banners/Exchange-Banner-350-330.html' %}
		</div>
	</div>
</div>
<div class=" mt-5 text-center">
<small style="color:white; color:#85bb65; font-style:italic;"> Decentralized E-wallets </small>
</div>
<div class=" d-flex flex-wrap justify-content-around w-50 mx-auto">
	<a href="/metamask-guide" 
		class="d-flex flex-column align-items-center p-2 m-4 text-center"
		style="height:150px; width:180px; border-radius:20px;box-shadow:0 0 5px #fff; text-decoration:none;" />
		<img 
			src="{% static 'images/wallets/metamask.png' %}" alt="Metamask-logo" 
		 	style="height:100px;" 
		 	class="img-fluid"
		/>
		Metamask Guide
	</a>
	<a href="/crypto-wallet/phantom-guide" 
		class="d-flex flex-column align-items-center p-2 m-4 text-center"
		style="height:150px; width:180px; border-radius:20px;box-shadow:0 0 5px #fff; text-decoration:none;" />
		<img 
			src="{% static 'images/wallets/phantom-icon.png' %}" alt="Metamask-logo" 
		 	style="height:100px;" 
		 	class="img-fluid" />
		
		Phantom Guide
	</a>
</div>
<div class="container d-flex justify-content-around align-items-center mt-5 mb-3">
	<a href="https://www.bybit.com/invite?ref=8NQY5" class="m-2 affiliate-crypto" target="_blank">
		Handla krypto via Bybit.com
	</a>

	<a href="https://crypto.com/app/kd26d8skzr" class="m-2 affiliate-cryptocom" target="_blank">
		Handla krypto via Crypto.com
	</a>
</div>

					
					

<br>
<div class="text-center mt-2 mb-5">
	<a 
		href="/#krypto-snabbguide-avdelning"
		style="font-weight:normal;" 
		class="" 
	>
		Hur köper man kryptovaluta❓
		<small class="d-block" style="font-size:0.7rem; color:gray;">
			Läs mer
		</small>
	</a>
</div>
<div class="container  text-center">
	<label style="font-size:0.68rem; font-style:italic; color:#F47174;" class=" m-0 ">
		Handla inte mer än vad du har råd att förlora.
	</label>
</div>
{% include 'components/articles/article_container.html' %}
<div class="curved mt-3">
	<svg viewBox="0 0 1440 319">
		<path fill="rgb(85, 85, 85, 0.8)" fill-opacity="1" d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
	</svg>
</div>


<style type="text/css">

</style>
{% endblock %}

