{% extends 'Base.html' %}
{% load static from staticfiles %}
{% block extra_htmt_head %}

<title> {{ token.meta_title }} </title>
<meta name="description" content="{{ token.meta_description }}" >

<meta property="og:title" content="{{ token.meta_title }}" />
<meta property="og:url" content="https://www.cryptoviking.se/handla/{{token.slug}}" />
<meta property="og:description" content="{{ token.meta_description }}">

<meta property="og:image" itemprop="image" content="{% static 'images/mascot/feature-logo-image.jpeg' %}">

<link rel="canonical" href="https://www.cryptoviking.se/handla/{{token.slug}}" />


<link rel="stylesheet" href="{% static 'styleFolder/components/generic-pages/generic-pages-base.css' %}">
<link rel="stylesheet" href="{% static 'styleFolder/components/tokens/token-detail-page.css' %}">


{% endblock %}
{% load static %}
{% block content_container %}

<div class="container-wrapper mt-3">
	<div class="container-flex">
		<div class="main-container">
			<div class="container mt-3 pl-lg-5">
				<div class="cover-image-wapper">
					<div class=" token-info-container">
						<img src="{{ token.logo.url}}" alt="{{token.token_name}}" />
						<h6 class=""> {{ token.token_name }} </h6>
						<div class="price-token ">
							<span class="d-flex"> <p class="mr-1"> Pris: </p> <p id="{{token.slug}}-price-container"> </p> </span>
						</div>
						<div class="where-to-buy-container">
							<a href="https://www.binance.com/en/register?ref=JTZNNQHD" target="_blank" class="affiliate-binance">
								Handla via Binance.com
							</a>
						</div>
					</div>
				</div>
				
				<a href="#kryptograf" class="container m-0" style="color:white; text-decoration:none; font-weight:normal;">
					<div class=" d-flex flex-column m-0" style="border-radius:20px; cursor:pointer;">
						<p class="m-0" style="margin:0px;"> Till {{ token.token_name }} graf </p>
						<div class="m-0" style="margin:0px;"> 🡻 </div>
					</div>
				</a>
				<h1 class="orange-viking-title"> {{token.article_title}}</h1>
				<div class="container">
					{{ token.content|safe }}
				</div>
			</div>
		</div>

		<div class="side-container">
			{% include 'components/crypto-exchange/banners/Exchange-Banner-350-330.html' %}
		</div>

	</div>


</div>

<h3 style="text-align:center; margin:0; margin-top:50px;" id="kryptograf"> {{ token.token_name }} kurs </h3>
<div class="curved" >
	<div class="card-body container">
		<div class="tradingview-widget-container tech_analysis">
  			<div id="tradingview_3418f"></div>
  			<div class="tradingview-widget-copyright"></div>
		</div>
	</div>
	<div class="container d-flex justify-content-around align-items-center mt-5 mb-3">

	<a href="https://www.binance.com/en/register?ref=JTZNNQHD" class="m-2 affiliate-binance" target="_blank">
		Handla via Binance
	</a>

	<a href="https://ftx.com/profile#a=cryptoviking" class="m-2 affiliate-FTX" target="_blank">
		Handla via FTX.com
	</a>
</div>

<br>
<div class="text-center mt-2 mb-5">
	<a 
		href="/#krypto-snabbguide-avdelning"
		style="font-weight:normal;" 
		class="" 
	>
		Hur köper man kryptovaluta❓
		<small class="d-block" style="font-size:0.7rem; color:gray;">
			Läs mer
		</small>
	</a>
</div>
<div class="container  text-center">
	<label style="font-size:0.68rem; font-style:italic; color:#F47174;" class=" m-0 ">
		Handla inte mer än vad du har råd att förlora.
	</label>
</div>
{% include 'components/articles/article_container.html' %}
	<svg viewBox="0 0 1440 319">
		<path fill="rgb(85, 85, 85, 0.8)" fill-opacity="1" d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
	</svg>
</div>

<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
	new TradingView.widget(
	{
	"width": "100%", 
	"height" : 600,
	"symbol": "{{token.ticket_name}}",
	"interval": "D",
	"timezone": "Etc/UTC",
	"theme": "dark",
	"style": "1",
	"locale": "en",
	"toolbar_bg": "#f1f3f6",
	"enable_publishing": false,
	"allow_symbol_change": true,
	"container_id": "tradingview_3418f"
	});
</script>
{% endblock %}

