{% extends 'Base.html' %}
{% load static from staticfiles %}
{% block extra_htmt_head %}

<title> Kryptovalutakurser och diagram i tydlig tabell | CryptoViking.se </title>
<meta name="description" content="Håll ett öga på kryptovalutornas kursutveckling! Se kryptonas marknadsvärde, volym senaste dygnet och hur värdet har ändrats under 1h, ett dygn och en vecka!" />

<meta property="og:url" content="https://www.cryptoviking.se/krypto-lista" />
<meta property="og:title" content="Kryptovalutakurser och diagram i tydlig tabell | CryptoViking.se" />
<meta property="og:description" content="Håll ett öga på kryptovalutornas kursutveckling! Se kryptonas marknadsvärde, volym senaste dygnet och hur värdet har ändrats under 1h, ett dygn och en vecka!">

<meta property="og:image" itemprop="image" content="{% static 'images/mascot/feature-logo-image.jpeg' %}">
<link rel="canonical" href="" />
<link rel="stylesheet" href="{% static 'styleFolder/components/static-pages/static-pages-base.css' %}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@CryptovikingSe">
<meta name="twitter:title" content="Kryptovalutakurser och diagram i tydlig tabell | CryptoViking.se">
<meta name="twitter:description" content="Håll ett öga på kryptovalutornas kursutveckling! Se kryptonas marknadsvärde, volym senaste dygnet och hur värdet har ändrats under 1h, ett dygn och en vecka!">

<meta name="twitter:image" content="https://www.cryptoviking.se/static/images/mascot/cryptoviking-se.png">

{% endblock %}
{% load static %}

{% block content_container %}
<style type="text/css">
	.image-logo img{
		max-width:40px;
	}
	table{
		background-color: #21212E !important;
		
	}
	.container-token{
		width:1200px;
		
		margin:0 auto 0 auto;
	}
	.crypto-item{
		border-bottom:1px solid lightgray;
	}
	.hover-token{
		cursor:pointer;
	}
	.hover-token:hover{
		background-color:#373742;
	}
	tr{
		height:60px;
	}
	.remove-token-symbol{
		display:none;
	}
	.mobile-image-logo-ticket-name{
		display:none;
	}
	@media only screen and (max-width: 1000px){
        .remove-token-name{
            display: none;
        }
		.mobile-image-logo-ticket-name{
			display:block;
			display:flex;
			flex-direction:column;
			align-items:center;
		}
		.mobile-image-logo-ticket-name img{
			max-width:30px;
		}
    }
    @media only screen and (max-width: 650px){
        .container-token{
			width:100%;
		}
	}
	

</style>
<div class="container mt-5 mb-5 d-flex justify-content-center">
	<h1 style="margin:auto"> Kryptovalutakurser i realtid </h1>
</div>
<div class="container mx-auto d-flex justify-content-between text-white ">
	<div class="d-flex">
    	<input id="search-token-input" type="text" placeholder="Sök" />
    	<div id="search-token-close-button" class="m-2" style="cursor:pointer;" onclick="buildTable()">
    		❌
    	</div>
    </div>
</div>
<div class="container-token mt-3" style="overflow-x:auto">
    <table class="table table-dark" id="our-table">
		<thead>
			<tr style="text-align:center;">
                <th class="rank m-5" style="color:white;"><abbr title="Position">Rank</abbr></th>
                <th class='image-logo remove-token-name'></th>
                <th class="name m-5 " style="color:white;">Namn</th>
                <th class="price m-5" style="color:white;">Pris(USD)</th>
                <th class="price_change_percentage_1h_in_currency m-5 remove-token-name" style="color:white;">1h</th>
                <th class="percent_change_24h m-5" style="color:white;">24h</th>
                <th class="price_change_percentage_7d_in_currency m-5" style="color:white;">7d</th>
                <th class="volume_24h m-5 remove-token-name" style="color:white;">Volym(24h)</th>
                <th class="market_ p m-5" style="color:white;">Börsvärde</th>
                <th class="sparkline m-5" style="color:white;">Sista 7 dagar</th>
			</tr>
		</thead>
        <tbody id="crypto-table-body" class="">

        </tbody>
    </table>
</div>
<div class="text-white text-right container">
	<small> Powered by </small> 
	<img src="https://static.coingecko.com/s/coingecko-logo-white-99d39c22910707ffddb7aa7090753ca2089eb1813440286da14927a723b2d2d6.png" 
	style="width:85px;" 
	/>
</div>
<div class="container mt-5 d-flex justify-content-center">
	<div id="pagination-wrapper"></div>
</div>




<div class="text-white container text-center mt-5"> 
    <small class="m-1">Rädsla och girighet index Bitcoin </small>
	<small id="fear-bitcoin-index-value" class="m-1">
	
	</small>
</div>
<!-- 
<div class="three-step-container-flex">
			<div class="flex-child text-white">
				<p> Hej </p>
			</div>

			<div class="flex-child d-flex flex-column justify-content-around m-sm-2">
				<div
					id="ufo-wrapper-box"
					class="image-holder "
					>

					<img 
						src="{% static 'images/crypto-exchanges/exchange-banner-space-ship.png' %}" alt="banner big" 
						class="img-fluid" 
						style="border-radius:10px;"
					/>

					<div class="ufo-alien">
						<img 
							src="{% static 'images/icons/moving-ufo.png' %}"
							class="img-fluid" 
							/>
					</div>
				</div>
				<div class="image-footer mt-2">
					<a href="https://crypto.com/app/kd26d8skzr" target="_blank" class="m-4 affiliate-crypto"> 
						Crypto.com 
					</a>
					<a href="https://www.binance.com/en/register?ref=JTZNNQHD" target="_blank" 
					class="affiliate-binance" 
					style="text-decoration:none;" class="btn btn-secondary"> 
						Binance.com 
					</a>
					<a href="https://ftx.com/profile#a=cryptoviking" target="_blank" 
					class="affiliate-FTX m-4" 
					style="text-decoration:none;" class="btn btn-secondary"> 
						Ftx.com   
					</a>
				</div>
				<label style="font-size:0.68rem; font-style:italic; color:#F47174;" class=" mt-2 ">
					Handla inte mer än vad du har råd att förlora.
				</label>
			</div>
		</div>

 -->
<br><br><br>
{% include 'components/articles/article_container.html' %}
<div class=" mt-5 text-center">
<small style="color:white; color:#85bb65; font-style:italic;"> Decentralized E-wallets </small>
</div>
<div class=" d-flex flex-wrap justify-content-around w-50 mx-auto">
	<a href="/metamask-guide" 
		class="d-flex flex-column align-items-center p-2 m-4 text-center"
		style="height:150px; width:180px; border-radius:20px;box-shadow:0 0 5px #fff; text-decoration:none;" />
		<img 
			src="{% static 'images/wallets/metamask.png' %}" alt="Metamask-logo" 
		 	style="height:100px;" 
		 	class="img-fluid"
		/>
		Metamask Guide
	</a>
	<a href="/crypto-wallet/phantom-guide" 
		class="d-flex flex-column align-items-center p-2 m-4 text-center"
		style="height:150px; width:180px; border-radius:20px;box-shadow:0 0 5px #fff; text-decoration:none;" />
		<img 
			src="{% static 'images/wallets/phantom-icon.png' %}" alt="Metamask-logo" 
		 	style="height:100px;" 
		 	class="img-fluid" />
		
		Phantom Guide
	</a>
</div>
<div class="container d-flex justify-content-around align-items-center mt-5 mb-3">
		<a href="https://www.binance.com/en/register?ref=JTZNNQHD" class="m-2 affiliate-binance" target="_blank">
			Handla krypto via Binance
		</a>

		<a href="https://ftx.com/profile#a=cryptoviking" class="m-2 affiliate-FTX" target="_blank">
			Handla krypto via FTX.com
		</a>
	</div>

	<br>
	<div class="text-center mt-2 mb-5">
		<a 
			href="/#krypto-snabbguide-avdelning"
			style="font-weight:normal;" 
			class="" 
		>
			Hur köper man kryptovaluta❓
			<small class="d-block" style="font-size:0.7rem; color:gray;">
				Läs mer
			</small>
		</a>
	</div>
	<div class="container  text-center">
		<label style="font-size:0.68rem; font-style:italic; color:#F47174;" class=" m-0 ">
			Handla inte mer än vad du har råd att förlora.
		</label>
	</div>

	<div class="d-flex flex-wrap container justify-content-around mt-5">

		<a href="/handla/bitcoin"
			class=" m-lg-2 m-4  d-flex flex-column align-items-center justify-content-between hover-function position-relative" 
			style="width:250px; height:180px;border-radius:20px; color:white;"
		>
			<div 
				class="position-absolute d-flex flex-column align-items-center" 
				style="position: absolute; top: 50%; left: 50%; 
				transform: translate(-50%, -50%);"
			>
				<img src="{% static 'images/tokens/btc-token.png' %}" alt="Bitcoin logo" />
				<span class="d-flex" style="font-size:0.95rem; font-style:italic; color:#dcdcdc;">
					<p id="bitcoin-price-container"> </p> 
				</span>
			</div>
	
			<div
				style="width:100%; height:100%; border-radius:20px 20px 0 0;"
				class="d-flex flex-column justify-content-center align-items-center"
			>
				<img  src="{% static 'images/tokens/wallet-icons/mini-wall-token.png' %}"
					class=" img-fluid" style="height:150px; width:100%; border-radius:15px 15px 0px 0px;" 
				>
			</div>
			<div class=" w-100 text-center p-1" style="border-radius:0px 0 20px 20px; background:#85BB65; font-style:italic;">
				Mer om Bitcoin
			</div>
		</a>
		<a href="/handla/cardano"
			class=" m-lg-2 m-4  d-flex flex-column align-items-center justify-content-between hover-function position-relative" 
			style="width:250px; height:180px;border-radius:20px; color:white;"
		>
			<div 
				class="position-absolute d-flex flex-column align-items-center" 
				style="position: absolute; top: 50%; left: 50%; 
				transform: translate(-50%, -50%);"
			>
				<img src="{% static 'images/tokens/cardano.png' %}" alt="ethereum logo" />
				<span class="d-flex" style="font-size:0.95rem; font-style:italic; color:#dcdcdc;">
					<p id="cardano-price-container"> </p> 
				</span>
			</div>
	
			<div
				style="width:100%; height:100%; border-radius:20px 20px 0 0;"
				class="d-flex flex-column justify-content-center align-items-center"
			>
				<img  src="{% static 'images/tokens/wallet-icons/mini-wall-token.png' %}"
					class=" img-fluid" style="height:150px; width:100%; border-radius:15px 15px 0px 0px;" 
				>
			</div>
			<div class=" w-100 text-center p-1" style="border-radius:0px 0 20px 20px; background:#85BB65; font-style:italic;">
				Mer om Cardano
			</div>
		</a>
	</div>
<div class="curved mt-3">
	<svg viewBox="0 0 1440 319">
		<path fill="rgb(85, 85, 85, 0.8)" fill-opacity="1" d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
	</svg>
</div>
<!-- load in jquery script to use jquery imported also Sparkline -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
<!-- Import Axio for Bitcoin Fear index -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">

	// Check if a number box has a minus sign inside if so add red color if not add green.
	const setColorOnNumbers = () => {

		var minus_boxes_red = document.querySelectorAll('.minus_boxes_red');
			minus_boxes_red.forEach(function(minus_box){
				if(minus_box.innerHTML.includes('-')){
					minus_box.style.color = '#e15241';
			}else{
				minus_box.style.color = '#8dc647';
				
			}
		});
	}

	var state = {
	    'querySet':[],
	    'page': 1,
	    'rows': 25,
	    'window': 5,
	    'old_data':[],
	}


	const getCoinGeckoData = async () =>{
		state.old_data = state.querySet;
		const response = await fetch('https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&order=market_cap_desc&per_page=100&page=1&sparkline=true&price_change_percentage=1h%2C24h%2C7d')
		state.querySet = await response.json();
		buildTable()
		// Send the old data and compare to the new state.
		changeColor();

	}
	// One Time Render
	getCoinGeckoData();

	const changeColor = () => {
		console.log('Changing Color...')
		try{
			for( let i = 0; i < state.querySet.length; i++){
				if( state.old_data[i].current_price < state.querySet[i].current_price ){
					try{
						let price_box = document.getElementById(`price_box-${i}`).style.color = "#8dc647";
					}catch{

					}
				}else if(state.old_data[i].current_price <= state.querySet[i].current_price){
					try{
						let price_box = document.getElementById(`price_box-${i}`).style.color = "white";
					}catch{
						
					}
				}else{
					try{
						let price_box = document.getElementById(`price_box-${i}`).style.color = "#e15241";
					}
					catch{
						
					}
				}
			}
		}catch{
						
		}
	}
	
	function pagination(querySet, page, rows) {
	    var trimStart = (page - 1) * rows
	    var trimEnd = trimStart + rows
	    var trimmedData = querySet.slice(trimStart, trimEnd)
	    var pages = Math.round(querySet.length / rows);
	    return {
	        'querySet': trimmedData,
	        'pages': pages,
	    }
	}

	// Crete Buttons for Paginator. And same time call BuildTable function.
	function pageButtons(pages) {
	    var wrapper = document.getElementById('pagination-wrapper')
	    wrapper.innerHTML = '';
	    var maxLeft = (state.page - Math.floor(state.window / 2))
	    var maxRight = (state.page + Math.floor(state.window / 2))
	    if (maxLeft < 1) {
	        maxLeft = 1
	        maxRight = state.window
	    }
	    if (maxRight > pages) {
	        maxLeft = pages - (state.window - 1)
	        
	        if (maxLeft < 1){
	            maxLeft = 1
	        }
	        maxRight = pages
	    }
	    for (var page = maxLeft; page <= maxRight; page++) {
	        wrapper.innerHTML += `<button value=${page} class="page m-1 btn btn-sm btn-info">${page}</button>`
	    }
	    if (state.page != 1) {
	        wrapper.innerHTML = `<button value=${1} class="page m-1 btn btn-sm btn-info">&#171; Första</button>` + wrapper.innerHTML
	    }
	    if (state.page != pages) {
	        wrapper.innerHTML += `<button value=${pages} class="page m-1 btn btn-sm btn-info">Sista &#187;</button>`
	    }
	    $('.page').on('click', function() {
	        $('#crypto-table-body').empty()
	        state.page = Number($(this).val())
	        buildTable()
	    })
	}


	function buildTable() {
		$('#search-token-input').val('');
		$('#pagination-wrapper').css('display', 'block');
		$('#search-token-close-button').css('display', 'none');
	    var table = $('#crypto-table-body')
	    table.empty();
	    var data = pagination(state.querySet, state.page, state.rows)
	    var token_list = data.querySet
	    for(var i = 0; i < token_list.length; i++) {
	        /// Create an item row for each token in the list.
	        var item = 
	                `<tr id="${i}-row" class="Token-Detail-Row"> 
	                    <th class='rank 'style='color:white; height:80px; text-align:center; vertical-align: middle;'>${token_list[i].market_cap_rank}
	                    </th>
	                    <th class='rank image-logo remove-token-name'style='color:white; height:80px; text-align:center; vertical-align: middle;'>
	                        ${`<img src="${token_list[i].image}"`}  
	                    </th>
	                    <td 
	                    	class='name remove-token-name image-logo' style='height:80px; text-align:center; vertical-align: middle;color:white;'> 
	                        ${token_list[i].name} 
	                    </td>" 
	                    <td class='mobile-image-logo-ticket-name' style='height:80px; text-align:center; vertical-align: middle;color:white;'>
	                    	<img src="${token_list[i].image}"/>
	                        ${token_list[i].symbol} 
	                    </td>"
	                    <td id='price_box-${i}' style='height:80px; text-align:center; vertical-align: middle;color:white;'> 
	                        $${token_list[i].current_price}
	                    </td>" 
	                     <td id='1h_container-${i}' class='name minus_boxes_red procent_box remove-token-name' style='height:80px; text-align:center; vertical-align: middle;color:white;'> 
	                        ${token_list[i].price_change_percentage_1h_in_currency.toFixed(2)}%
	                    </td>" 
	                    <td class='name minus_boxes_red' style='height:80px; text-align:center; vertical-align: middle;color:white;'> 
	                        ${token_list[i].price_change_percentage_24h.toFixed(2) }%
	                    </td>
	                    <td class='name minus_boxes_red' style='height:80px; text-align:center; vertical-align: middle;color:white;'> 
	                        ${token_list[i].price_change_percentage_7d_in_currency.toFixed(2) }%
	                    </td>
	                    <td class='name remove-token-name' style='height:80px; text-align:center; vertical-align: middle;color:white;'> 
	                        $${token_list[i].total_volume.toLocaleString() }
	                    </td>
	                    <td class='name ' style='height:80px; text-align:center; vertical-align: middle;color:white;'> 
	                        $${token_list[i].market_cap.toLocaleString() }
	                    </td>
	                   
	                   <td class='name' id="sparkline-graph-${i}" style='height:80px; text-align:center; vertical-align: middle;color:white;'> 
	                       sparkline...${token_list[i].name}
	                    </td>
	                </tr>`
	            table.append(item)
	            $("#sparkline-graph-"+ i).sparkline(token_list[i].sparkline_in_7d.price, {
				    type: 'line',
				    width: '135',
				    height: '50',
				    lineColor: '#ff00ff',
				    fillColor:'#21212E',
				});
	        }
	    pageButtons(data.pages)
	    setColorOnNumbers();
	}

	var timerId;
	var updateInterval = 8000;
	timerId = setInterval("getCoinGeckoData();", updateInterval);



	const buildSearchTable = (searchList) =>{
		$('#pagination-wrapper').css('display', 'none');
		$('#search-token-close-button').css('display', 'block');
	    var table = $('#crypto-table-body')
	    //table.innerHTML = '';
	    for(var i = 0; i < searchList.length; i++) {
	        /// Create an item row for each token in the list.
	        var item = 
	                `<tr id="${i}-row" class="Token-Detail-Row"> 
	                    <th class='rank 'style='color:white; height:80px; text-align:center; vertical-align: middle;'>${searchList[i].market_cap_rank}
	                    </th>
	                    <th class='rank image-logo remove-token-name'style='color:white; height:80px; text-align:center; vertical-align: middle;'>
	                        ${`<img src="${searchList[i].image}"`}  
	                    </th>
	                    <td class='name remove-token-name image-logo' style='height:80px; text-align:center; vertical-align: middle;color:white;'> 
	                        ${searchList[i].name} 
	                    </td>" 
	                    <td class='mobile-image-logo-ticket-name' style='height:80px; text-align:center; vertical-align: middle;color:white;'>
	                    	<img src="${searchList[i].image}"/>
	                        ${searchList[i].symbol} 
	                    </td>"
	                    <td id='price_box-${i}' style='height:80px; text-align:center; vertical-align: middle;color:white;'> 
	                        $${searchList[i].current_price}
	                    </td>" 
	                     <td id='1h_container-${i}' class='name minus_boxes_red procent_box remove-token-name' style='height:80px; text-align:center; vertical-align: middle;color:white;'> 
	                        ${searchList[i].price_change_percentage_1h_in_currency.toFixed(2)}%
	                    </td>" 
	                    <td class='name minus_boxes_red' style='height:80px; text-align:center; vertical-align: middle;color:white;'> 
	                        ${searchList[i].price_change_percentage_24h.toFixed(2) }%
	                    </td>
	                    <td class='name minus_boxes_red' style='height:80px; text-align:center; vertical-align: middle;color:white;'> 
	                        ${searchList[i].price_change_percentage_7d_in_currency.toFixed(2) }%
	                    </td>
	                    <td class='name remove-token-name' style='height:80px; text-align:center; vertical-align: middle;color:white;'> 
	                        $${searchList[i].total_volume.toLocaleString() }
	                    </td>
	                    <td class='name ' style='height:80px; text-align:center; vertical-align: middle;color:white;'> 
	                        $${searchList[i].market_cap.toLocaleString() }
	                    </td>
	                   
	                   <td class='name' id="sparkline-graph-${i}" style='height:80px; text-align:center; vertical-align: middle;color:white;'> 
	                       sparkline...${searchList[i].name}
	                    </td>
	                </tr>`
	            table.append(item)
	            $("#sparkline-graph-"+ i).sparkline(searchList[i].sparkline_in_7d.price, {
				    type: 'line',
				    width: '135',
				    height: '50',
				    lineColor: '#ff00ff',
				    fillColor:'#21212E',
				});
	        }
	    setColorOnNumbers();
	}

	$('#search-token-input').on('keyup', function(e){
		clearInterval(timerId)
	    var table = $('#crypto-table-body')
	    table.empty();
		//Clear current state so we can push the search values.
		var searchInputValue = e.target.value
		let searchList = [];
		// Loop through the data comes from the Coingecko first API call.
		for (var i = 0; i < state.querySet.length; i++){
			// search input values to lowercase
			searchValue = searchInputValue.toLowerCase()
			//Each list item value to lowercase
			var name = state.querySet[i].name.toLowerCase()
			var ticket_symbol = state.querySet[i].symbol.toLowerCase()
			if(name.includes(searchValue) || ticket_symbol.includes(searchValue)){
				searchList.push(state.querySet[i]);
			}
		}
		buildSearchTable(searchList)
		if(searchInputValue === ''){
			$('#search-token-close-button').css('display', 'none');
			buildTable();
		}
	})
	const options = {
		  method: 'GET',
		  url: 'https://fear-and-greed-index.p.rapidapi.com/v1/fgi',
		  headers: {
		    'X-RapidAPI-Host': 'fear-and-greed-index.p.rapidapi.com',
		    'X-RapidAPI-Key': '65f7037976mshf1ae556eba5ee9cp10ffa4jsn9df882ad2171'
		  }
		};

	axios.request(options).then(function (response) {
		console.log('response.data ', response.data)
		$('#fear-bitcoin-index-value').html(`
			<div> ${response.data.fgi.now.value} av 100 <span class="m-1 valueText-Bitcoin-index"> ${response.data.fgi.now.valueText}</span> </div>
		`);
		if(response.data.fgi.now.valueText == 'Fear' || response.data.fgi.now.valueText == 'Extreme Fear' ){
			$(".valueText-Bitcoin-index").css('color', 'red');
		}else{
			$(".valueText-Bitcoin-index").css('color', 'green');
		}

	}).catch(function (error) {
		console.error(error);
	});

</script>




<style type="text/css">
.article-container:hover{
	transform: scale(1.01);
}
.article-container{
	width:75%;
}
@media (max-width:760px){
	.article-container{
		width:95%;
	}
	.article-image{
		margin-bottom:5px;
	}
	.article-title{
		text-align:center;
	}
}


</style>










<style type="text/css">

	#ufo-wrapper-box{
		position:relative;
		max-width:600px;
		max-height:350px;
		
	}

	.ufo-alien{
 		width:70px;
		height:60px;
		position:absolute; 
	}
					   	

</style>

<script>

// //let's build the chutes 

//cache a few static values
var box = $('#ufo-wrapper-box');
var width = box.width();
var height = box.height();
var ufo_alien = $('.ufo-alien');

//our main animation "loop"

ufo_alien.each(function foo() {

    //generate random values
    var top = (Math.random() * height) | 0;
    var left = (Math.random() * width) | 0;
    var time = Math.random() * (900 - 400) + 2000 | 0;

    //animate
    //we introduce a random value so that they aren't moving together
    //after the animation, we call foo for the current element
    //to animate the current element again
    $(this).animate({
        left: left,
        top: top
    }, time, foo);
});
</script>

{% endblock %}
